.bundle
db/*.sqlite3
log/*.log
log/*.pid
tmp/
.sass-cache/
*.swp
public/assets/*
public/uploads/
config/database.yml
config/app_config.yml
config/newrelic.yml
public/sitemap*
.idea
.rvmrc
config/locales/log/*
db/sphinx
