.bundle
db/*.sqlite3
log/*.log
log/*.pid
tmp/
.sass-cache/
*.swp
*.swo
*.swn

public/uploads/

config/newrelic.yml
public/sitemap*
.idea
.rvmrc
config/locales/log/*
db/sphinx
config/development.sphinx.conf
.ruby-gemset
.ruby-version
