<% @page_title = t(:thanks_for_your_donation) %>

<div id="page-wrapper">
  <div id="page">
    <div id="page-info">
      <h2><%= @page_title %></h2>
      <p>Te damos las más sinceras gracias por tu donación a <strong>oiga.me</strong>. Con aportaciones como la tuya este proyecto puede seguir adelante.</p>
      <p>Un fuerte abrazo del equipo de oiga.me y <a href="http://alabs.es/">aLabs</a>.</p>
    </div><!-- page-info -->
  </div><!-- page -->
</div><!-- page-wrapper -->
