<% @page_title = t(:donate) %>

<div id="page-wrapper">
  <div id="page">
    <div id="page-info">
      <h2><%= @page_title %></h2>
      <p>Como organización independiente y sin ánimo de lucro <strong>aLabs</strong> destina todo el dinero de cada donación recibida en <strong>oiga.me</strong> a mantener y potenciar esta plataforma. Con tu apoyo podemos conseguir que muchas personas puedan alzar su voz y coordinarse para cambiar el mundo, tu donación colabora directamente para que miles de personas puedan organizarse y realizar acciones de gran impacto.</p>
      <p>oiga.me mantiene un equipo de trabajo reducido al máximo para mantener sus costes bajos. Practicamos una política de transparencia económica, cada año publicaremos un resumen con lo recaudado en donaciones y el destino de las mismas.</p>
      <h3>Donación segura.</h3>
      <p>La asociación aLabs no almacena ningún dato de las tarjetas de crédito de los usuarios que realizan las donaciones, las transacciones con tarjetas de crédito son procesadas en línea directamente usando el TPV de pago de Banesto. Con este sistema seguro de pago la información viaja cifrada antes de ser enviada usando el certificado SSL. Si encuentras algún problema usando el sistema, tienes alguna duda o alguna recomendación, por favor contacta con aLabs a través del correo donaciones[arroba]alabs.es.</p>
      <br />
      <p><%= link_to 'Realizar una donación a oiga.me', donate_init_path, :class => 'btn primary large' %></p>
    </div><!-- page-info -->
    <div id="page-sidebar">
    </div><!-- page-sidebar -->
  </div><!-- page -->
</div><!-- page-wrapper -->
