 <div class="span1" id="diferencial">
   <ul> 
    <li><a href="#"><%= image_tag("99pk.png") %> </a></li>
    <li><a href="#"><%= image_tag("transparentpk.png") %> </a></li>
    <li><a href="#"><%= image_tag("openpk.png") %> </a></li>       
  </ul>
</div> 
