Recaptcha.configure do |config|
  config.public_key  = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
  config.private_key = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
  #config.proxy = 'http://myproxy.com.au:8080'
end
