          <h2>Preguntas frecuentes</h2>
          <h3>oiga.me</h3>
          <h4>¿Qué es?</h4>
          <p>
       oiga.me es una plataforma de acción y movilización ciudadana, una herramienta de democracia participativa a través de sistemas web y correo electrónico, para colectivos, entidades o asociaciones que desean ser escuchados. oiga.me multiplica la potencia de miles de pequeños esfuerzos individuales en una poderosa fuerza colectiva. Es, además, un altavoz tecnológico que sirve a personas y organizaciones para hacer oír su voz y constituirse en un agente activo de la vida política y social.
          </p>
          <h4>¿Por qué?</h4>
          <p>
 El derecho de participación en las democracias actuales se ha transformado en un juego electoral controlado por los grandes partidos políticos, convertidos así en simples maquinarias de propaganda y ejercicio del poder al margen de los intereses de las personas. La participación de la ciudadanía en la toma de decisiones que afectan a su vida diaria queda así reducida a una caricatura. La ciudadanía está, en la práctica, excluida de los foros de decisión y marginada de la práctica política real.
          </p>
          <p>
            oiga.me pone a disposición de personas, asociaciones y colectivos las herramientas necesarias para responder a esa situación, posibilitando la participación política efectiva y real  a través de acciones colectivas sobre los asuntos que les conciernen e interesan. Se trata, en resumen, de devolver a la ciudadanía su derecho a la partipación política.
          </p>

          <h4>¿Quiénes somos?</h4>
          <p>
            oiga.me es un proyecto <a href="https://github.com/alabs/oigame">desarrollado con Software Libre</a> por la asociación aLabs con la colaboración del consejo social de oiga.me. 
          </p>

          <h4>¿Qué es el consejo social de oiga.me y quiénes lo componen?</h4>
          <p>El consejo social de oiga.me es un órgano de asesoramiento y apoyo para la toma de decisiones en el funcionamiento  y desarrollo de la herramienta. Su función es asegurar la independencia de oiga.me.</p>
	<p>
           El consejo social de oiga.me está formado por entidades y personas  de contrastado prestigio en el ámbito social, acreditado por las prácticas que vienen realizando desde hace años. Su criterio, capacidad de reflexión y análisis sumado a su experiencia son un punto de apoyo imprescindible para oiga.me. El consejo social está en fase de crecimiento y actualmente 
            lo componen la ONG <a href="http://www.ecologistasenaccion.org/">Ecologistas en Acción</a>,
      el sindicato <a href="http://cgt.es">CGT</a>, la <a href="http://www.plataformasahara.com/">Plataforma Política de Apoyo al Pueblo Saharaui</a>, la cooperativa <a href="http://dabne.net">Dabne</a>,
      el MOC (Movimiento de Objección de Conciencia), el <a href="http://patiomaravillas.net">Patio Maravillas</a>,
      varias personas relacionadas con las nuevas tecnologías y la <a href="http://alabs.es">asociación aLabs</a>. 
      Todas estas personas y entidades están relacionadas con movimientos 
      sociales con los que hemos colaborado en los últimos años y cuyo 
      trabajo, cercanía y criterios valoramos y respetamos.
          </p>

          <h4>¿Qué funciones tiene el consejo social?</h4>
          <p>
            Velar por el buen uso de la plataforma mediante la valoración de 
            conflictos en el uso de la herramienta: Revisando el buen uso, 
	    analizando y valorando aquellos casos donde surjan conflictos e 
	    incidencias, buscando consenso y flexibilidad en sus propuestas 
	    de soluciones con un equilibro entre las posibilidades de la 
	    herramienta y las buenas prácticas que deseamos.
          </p>
          <p>
            Proponer campañas especiales: La selección de determinadas campañas 
            al año para apoyarlas desde el consejo social en bloque.
          </p>
          <p>
            Líneas de investigación: Propuestas dirigidas a mejoras en la plataforma, que permitan que el esfuerzo que invertimos en ella tenga como resultado mejoras para las comunidades que la utilizan.
Apoyar la plataforma y conseguir recursos para su buen funcionamiento.
	</p>
          <p>
            Apoyar la plataforma y conseguir recursos para su buen funcionamiento.
          </p>

          <h3>Comunidad oiga.me</h3>

          <h4>¿Cómo puedo ayudar?</h4>

          <p>
            Las formas de colaborar con oiga.me varían desde la mera participación en las campañas que se llevan a cabo a través de oiga.me hasta la colaboración activa más directa como voluntario en el equipo de desarrolladores de la herramienta. Según tus habilidades e intereses podrás colaborar de varias formas para lo que te animamos a que te hagas miembro de oiga.me introduciendo tu correo en la página principal y estar la corriente de nuestra actividad.
          </p>

          <h4>Apoya económicamente a oiga.me: Donaciones</h4>
          <p>
            Como asociación cultural independiente, y sin ánimo de lucro, 
            aLabs destina estas donaciones a mantener los servidores de oiga.me 
            y mejorar la plataforma, cada pequeña donación es un gran apoyo que 
            nos permite dar soporte y difusión a las campañas. La aportaciones 
            pueden realizarse <a href="/donate" title="Donar">directamente desde 
            la web</a> a través de nuestra pasarela segura. Gracias a este 
            sistema se puede garantizar una máxima protección de los datos que 
            aportes (nombre y número de tarjeta de crédito) al hacer la 
            donación.
          </p>
          <h4>Entra en nuestro equipo de desarrollo</h4>
          <p>
            La labor de desarrollo de código es un trabajo en evolución 
            constante. Por esto, toda colaboración en bienvenida. Si tienes 
            ganas de participar como desarrollador te animamos a que te 
            suscribas a la lista y nos lo comuniques.
          </p>
          <p><a href="https://listas.alabs.es/mailman/listinfo/oigame-dev">https://listas.alabs.es/mailman/listinfo/oigame-dev</a></p>

          <h4>¿Qué ocurre con mis datos cuando participo en una campaña?, ¿y al registrarme?</h4>
          <p>
	    Cuando te registras como usuario de oiga.me, entregas 
            voluntariamente a aLabs unos datos personales que aLabs guarda, 
            protege y utiliza sólo para las finalidades previstas en este sitio 
            web. Si desdeas más información, puedes consultar nuestra 
            <a href="/privacy-policy" title="Política de privacidad">política de 
            privacidad</a>.            
          </p>
          <p>
	    Al participar en una campaña, se guarda un registro del número de 
            participantes y acciones con fines estadísticos, pero no los datos 
            de los usuarios. Estos datos no son almacenados porque oiga.me solo 
            hace de intermediario entre el objetivo de la campaña y quien se 
            suma voluntariamente a ella.
          </p>
