<h2>Tutorial</h2>
<h3>¿Cómo se usa?</h3>
<p>En la actualidad hay 2 tipos de campañas: peticiones y correo.</p>
<ul>
  <li>Peticiones</li>
  <ul>
    <li>Rellena el formulario con tu correo, nombre y apellidos.</li>
  </ul>
  <li>Correo</li>
  <ul>
    <li>Rellena el formulario para enviar un mensaje: si enviamos muchos emails, con buena educación y argumentos, podremos hacer presión y conseguir el objetivo.</li>
  </ul>
  <li>En ambos casos: Difunde la campaña por tus redes sociales: Para ello podrás usar el formulario integrado en tu web (widget) y usar los botones que facilitamos en cada campaña.</li>
</ul>
<h4>¿En qué se diferencian las campañas de peticiones de las de correo?</h4>
<p>Las campañas de peticiones buscan sumar voces para plantear un conflicto en terreno mediático y político, se pretende mostrar que cientos o miles de personas piden que se produzca un cambio ante alguna situación injusta.</p>
<p>Las campañas de correo son para facilitar que la ciudadanía se comunique directamente con sus representantes políticos, con responsables en corporaciones, medios de comunicación o entidades a las que vayan dirigidas las campañas. De esta manera, oiga.me solo facilita un puente de conexión entre ambos facilitando a la ciudadanía la participación directa en los asuntos que le incumben, animando a realizar una comunicación directa, clara y respetuosa para que tu voz sea escuchada.</p>
<h4>¿Cómo se proponen campañas?</h4>
<p>Para proponer una campaña debes ir a la <a href="<%= APP_CONFIG[:domain] %>/campaigns">página de campañas</a> y hacer click en el botón "Proponer una campaña" y rellena el formulario.</p>
<p>El consejo social estudiará la propuesta y podrá contactar contigo para plantearte dudas o propuestas, si la aprueba aparecerá directamente en la web y recibirás un mensaje de que tu campaña ha sido aprobada. En el caso de que no pudiéramos atender todas las campañas que nos llegan pedimos tu comprensión, estamos trabajando para mejorar la plataforma.</p>
<p>Las campañas propuestas quedan moderadas a la espera de revisión por parte del consejo social de oiga.me. Una vez revisadas, las campañas serán aprobadas o descartadas lo antes posible según una serie de criterios, es posible que por la alta demanda de peticiones de campañas y nuestros recursos limitados no podamos responder a todas las propuestas, estamos en fase "beta", esperamos que lo comprendas.</p>
<p>oiga.me, a través de su consejo social, propone, estudia y acepta algunas propuestas de campañas de movilización ciudadana. Durante los primeros meses, oiga.me limitará sus campa√±as a un número razonable para ir probando la aplicación y crecer de forma escalonada.</p>
<h4>¿Quién puede proponer campañas?</h4>
<p>Pueden proponer campañas todas las personas, colectivos u organizaciones que lo deseen.</p>
<h4>¿Cuales son los criterios para que se acepten propuestas de campañas?</h4>
<ul>
  <li>Recursos disponibles: oiga.me, como toda aplicación, tiene una capacidad limitada.</li>
  <li>Respeto: Un criterio básico en las campañas es el respeto a los derechos de las personas, pero también el respeto al medio ambiente y todo ser vivo, así como utilizar un lenguaje positivo e inclusivo.</li>
  <li>Sentido común: Aún siendo el menos común de todos los sentidos, aLabs comparte la plataforma y el código de oiga.me con la intención de facilitar campañas que permitan a la sociedad del siglo XXI organizarse mediante herramientas telepáticas para conseguir transformar su realidad y ser efectivos. Por ese motivo hemos creado el consejo social de oiga.me para compartir las decisiones con redes en cuyo criterio confiamos.</li>
</ul>
<h3>¿Cómo apoyar la difusión de las campañas?</h3>
<h4>Por correo electrónico</h4>
<ul>
  <li>Envía los mensajes que recibas de nuevas campañas a tus contactos que puedan estar interesados.</li>
  <li>Difunde las campañas por listas de correo que puedan estar interesadas.</li>
</ul>
<h4>Por Twitter o Identi.ca</h4>
<ul>
  <li>Sigue a <a href="http://twitter.com/oigame">@oigame</a> en Twitter y en <a href="https://identi.ca/oigame">Identi.ca</a>.</li>
  <li>Haz RT de las campañas que te interesen o publica tu participación en las mismas.</li>
  <li>Participa en la difusión de los #hastags de las campañas.</li>
</ul>
<h4>Por Facebook</h4>
<ul>
  <li>Haz click en "Recomendar" de la campaña que te interese para compartirla en tu muro animando a tus seguidores a participar.</li>
</ul>
<h4>Por RSS</h4>
<ul>
  <li>Incluye el RSS (enlace) de las campañas de de oiga.me en tu página web.</li>
</ul>
<h3>Como webmaster</h3>
<h4>Difunde las campañas</h4>
<p>Cada campaña de oiga.me puede replicarse en tu blog o página web. Introduciendo un pequeño código HTML o Javascript que ponemos a tu disposición ayudarás a que la campaña sea visible desde más sitios, de tal forma que la web de oiga.me no sea el único punto de acceso para los usuarios que se quieran apuntar a una campaña y tu página web o blog sea también el centro de la acción.</p>
<h4>¿Cómo integrar el formulario?</h4>
<p>El "formulario" es un pequeño código de html que puedes integrar en el código de tu propia página web o blog. Es muy sencillo, simplemente copia el código del formulario y pégalo en una nueva entrada en tu blog, al publicar la nueva entrada verás el formulario en la portada de tu web y tus lectores podrán participar en la acción, construyendo un gran altavoz de manera distribuida.</p>
<h4>Utiliza las redes sociales libres: N-1.cc, Diáspora, Identi.ca</h4>
<p>Las redes sociales libres son más respetuosas con tus datos y tu privacidad que las redes sociales de grandes empresas multinacionales, además el código está disponible para que pueda ser auditado y mejorado por quien lo desee al contrario que las redes sociales como Twitter y Facebook. Estas nuevas redes libres son la garantía de un futuro sin limitaciones en la comunicación, en ellas encontrarás miles de personas interesadas en los mismos temas que tu. Puedes difundir por ellas también las campañas de oiga.me que más te interesen.</p>
