          <h2>Tutorial</h2>
          <h3>¿Cómo se usa?</h3>  
          <h4>Como participante en campañas</h4>
          <ul>
            <li>
              Rellena el formulario para enviar un mensaje: si enviamos muchos emails, con buena educación y argumentos, podremos hacer presión y conseguir el objetivo.
            </li>
            <li>
              Difunde la campaña por tus redes sociales: Para ello podrá usar los botones que facilitamos en cada campaña
            </li>
          </ul>
          <h4>Como webmaster</h4>
            <h5>Difunde las campañas</h5>
              <p>
                Cada campaña de oiga.me puede replicarse en tu blog o página web. Introduciendo un pequeño código HTML o Javascript que ponemos a tu disposición ayudarás a que la campaña sea visible desde más sitios, de tal forma que la web de oiga.me no sea el único punto de acceso para los usuarios que se quieran apuntar a una campaña y tu página web o blog sea también el centro de la acción.
              </p>
            <h5>Como Integrar el formulario</h5>
              <p>
                El "formulario" es un pequeño código de html que puedes integrar en el código de tu propia página web o blog. Es muy sencillo, simplemente copia el código del formulario y pégalo en una nueva entrada en tu blog, al publicar la nueva entrada verás el formulario en la portada de tu web y tus lectores podrán participar en la acción, construyendo un gran altavoz de manera distribuida.
              </p>
          <h3>¿Cómo se proponen campañas? </h3>
          <p> 
            oiga.me, a través de su consejo social, propone, estudia y acepta algunas propuestas de campañas de movilización ciudadana. Durante los primeros meses, oiga.me limitará sus campañas a un mínimo suficiente para ir probando la aplicación y crecer de forma escalonada.
          </p>
          <h4>¿Quien puede proponer campañas?</h4>
          <p>
            Pueden proponer campañas todas las personas o colectivos que lo deseen con excepción de partidos políticos. Dichas campañas quedan moderadas a la espera de revisión por parte del consejo social de oiga.me. Una vez revisadas, las campañas serán aprobadas o descartadas lo antes posible según una serie de criterios, es posible que por la alta demanda de peticiones de campañas y nuestros recursos limitados no podamos responder a todas las propuestas, estamos en fase "beta", esperamos que lo comprendas.
          </p>
          <h4>¿Cuales son los criterios para que se acepten propuestas de campañas?</h4>
          <ul>
            <li>
              <b>Recursos disponibles</b>: oiga.me, como toda aplicación, tiene una capacidad limitada. Por ello nos centraremos en las que más resultado práctico puedan tener.
            </li>
            <li>
              <b>Respeto</b>: Un criterio básico en las campañas es el respeto a los derechos de las personas, pero también el respeto al medio ambiente y todo ser vivo, así como utilizar un lenguaje positivo e inclusivo.
            </li>
            <li>
              <b>Sentido común</b>: Aún siendo el menos común de todos los sentidos, aLabs comparte la plataforma y el código de oiga.me con la intención de facilitar campañas que permitan a la sociedad del siglo XXI organizarse mediante herramientas telemáticas para conseguir transformar su realidad y ser efectivos. Por ese motivo hemos creado el consejo social de oiga.me (enlace), para compartir las decisiones con redes en cuyo criterio confiamos. 
            </li>
          </ul>
          <h3>¿Cómo apoyar la difusión de las campañas?</h3>
          <h4>Por correo electrónico</h4>
          <ul>
            <li>
              Envía los mensajes que recibas de nuevas campañas a tus contactos que puedan estar interesados
            </li>
            <li>
              Difunde las campañas por listas de correo con una temática coincidente.
            </li>
          </ul>
          <h4>Por Twitter</h4>
          <ul>
            <li>Sigue a @oigame</li>
            <li>Haz RT de las campañas</li>
            <li>Participa en la difusión de los #hastags</li>
          </ul>
          <h4>Por Facebook</h4>
          <ul>
            <li>Haz click en "Me gusta" de la campaña que te interese y compártela en tu muro animando a tus seguidores a participar.</li>
          </ul>
          <h4>Por RSS</h4>
          <ul>
            <li>Incluye el RSS (enlace) de las campañas de de oiga.me en tu página web.</li>
          </ul>
          <h4>Utiliza redes sociales libres: N-1.cc | Diaspora | Identi.ca</h4>
          <ul>
            <li>Las redes sociales libres son más respetuosas con tus datos y tu privacidad que las redes sociales de grandes empresas multinacionales, además el código está disponible para que pueda ser auditado y mejorado por quien lo desee al contrario que las redes sociales como twitter y Facebook. Estas nuevas redes libres son la garantía de un futuro sin limitaciones en la comunicación, en ellas encontrarás miles de personas interesadas en los mismos temas que tu. Puedes difundir por ellas también las campañas de oiga.me que más te interesen.</li>
          </ul>
