<% @page_title = 'Acerca de' %>

<h2>¿Qué es <a href="https://oiga.me">oiga.me</a></h2>
<ul>
  <li>
    <h3>oiga.me es una herramienta de movilización ciudadana a través de la red</h3>

    <p>oiga.me es una herramienta para generar peticiones on line y campañas de apoyo, pero también es una plataforma de lobby ciudadano. A través de una herramienta de envío masivo de mail, fax y telefonía actúa como catalizador de demandas y peticiones facilitando el contacto directo de los ciudadanos con los responsables y representantes de gobiernos, empresas o cualquier tipo de autoridades.</p>
    <p>oiga.me  por tanto es una herramienta de democratización social y empoderamiento que sirve como mecanismo para amplificar las voces y potenciar el impacto demandas ciudadanas.</p>
  </li>
  <li>
    <h3>oiga. me cree en la habilidad de las comunidades para producir cambios</h3>
    <p>Las comunidades digitales y analógicas han protagonizado procesos de cambio que han sido el garante del cuidado de la gestión de los recursos comunes y de los servicios públicos. Hoy en día la red es el territorio nativo de muchos de esos procesos.</p>
    <p>Nos sentimos parte del movimiento por la democracia y los derechos. Oiga.me promueve la cooperación a través de una interfaz sencillo que permite a cualquiera encontrarse con otros para la consecución de un objetivo común.</p>
    oiga.me pone en práctica modelos de organización distribuida que promueven el desarrollo de la inteligencia colectiva en red.
  </li>
  <li>
    <h3>oiga.me es una organización sin ánimo de lucro hecha desde el 99% para el 99%</h3>
    <p>La democracia necesita canales libres e independientes de comunicación que no persigan intereses económicos o partidistas.</p>
    <p>oiga.me se encuentra gestionado por un Consejo Social del que forman parte  entidades de la sociedad civil representativas en el terreno de la democracia y de la participación ciudadana que se encuentra en construcción permanente, abierta a nuevas organizaciones. Las funciones del consejo social son: asegurar el buen uso de la plataforma, garantizar la independencia de la herramienta, asesorar en el proceso de toma de decisiones, proponer campañas especiales, buscar mejoras en la plataforma para las comunidades que la utilizan y conseguir recursos para su buen funcionamiento.</p>
  </li>
  <li>
    <h3>En oiga.me apostamos por la libertad del conocimiento, por eso está construida en software libre.
      Todo el software utilizado por oiga.me es libre y está licenciado como GNU AFFERO GENERAL PUBLIC LICENSE , todos sus contenidos son copyleft bajo licencia CC-By-SA.</h3>
    <p>La construcción de oiga.me  ha precisado del apoyo de la comunidad de de software libre, sin el código y la documentación, no hubiera sido posible. Por esto consideramos una obligación y una responsabilidad que el código se mantenga libre para que sea un retorno a la comunidad pero también como una forma de mejorar oiga.me.</p>
  </li>
  <li>
    <h3>Para que sirve oiga.me?</h3>
    <p>Oiga.metransformay concentrala energía distribuida de las redes hacia entornos físicos  a través de los canales de fax, mail y telefonía. Y además multiplica las acciones, permitiendo que los esfuerzos individuales se conviertan en  una  poderosa fuerza  colectiva a través de las redes sociales.</p>
    <ul>
      <li>
        <h4>Canal firmas online (peticiones)</h4>
        <p>La plataforma permite que miles de personas se adhieran a una petición sumando su firma. El objetivo es demostrar cuántas personas quieren cambiar las cosas. Una vez concluida cada acción, el sistema genera un fichero imprimible para la organización que coordina la campaña de tal manera que esta pueda llevar a cabo su acción.</p>
      </li>
      <li>
        <h4>Canal fax</h4>
        <p>Las campañas por fax permiten enviar un texto por FAX a los destinatarios deseados simplemente haciendo 'click'. El FAX es una herramienta óptima para reclamaciones de consumo o para  la administración pública; oiga.me permite la coordinación para migraciones masivas de clientes entre operadores de empresas de servicios o cualquier otro tipo de solicitudes masivas.</p>
      </li>
      <li>
        <h4>Canal E-Mail</h4>
        <p>Las campañas por mail entregan un texto estándar o personalizado a los responsables directos de la campaña. Oiga.me utiliza un sistema seguro de envío de mensajería por el que se protege así la privacidad de los usuarios y se evitan así posibles filtros de las direcciones de los destinatarios, para ello requiere una confirmación que se realiza por correo.</p>
      </li>
      <li>
        <h4>Canal  telefono</h4>
      </li>
    </ul>
  </li>
</ul>
