<% @page_title = 'Respuestas' %>

<div id="page-wrapper">
  <div id="page">
    <ul class="tabs" data-tabs="tabs" >
      <li class="active"><a href="#preguntas">Preguntas frecuentes</a></li>
      <li><a href="#tutorial">Tutorial</a></li>
    </ul><!-- tabs -->
    <div class="tab-content" id="my-tab-content">
      <div id="preguntas" class="active">
        <div id="page-info">
          <%= render :partial => "answers_questions" %>
        </div><!-- page-info -->
        <div id="page-sidebar">
          <ul id="toc"> </ul>
        </div><!-- page-sidebar -->
      </div><!-- preguntas -->
      <div id="tutorial">
        <div id="page-info">
          <%= render :partial => "answers_tutorial" %>
        </div><!-- page-info -->
        <div id="page-sidebar">
          <ul id="toc"></ul>
        </div><!-- page-sidebar -->
      </div><!-- tutorial -->
    </div><!-- tab-content -->
  </div><!-- page -->
</div><!-- page-wrapper -->
