<% @page_title = 'Preguntas de uso frecuente' %>

<div id="page-wrapper">
  <div id="page">
    <div id="page-info">
      <h2><%= @page_title %></h2>
      <h3>oiga.me</h3>
      <h4>¿Qué es?</h4>
      <p>
        oiga.me es una plataforma de acción y movilización ciudadana, una 
        herramienta de democracia participativa a través de sistemas web y 
        correo electrónico para colectivos, entidades o asociaciones que 
        desean ser escuchados. oiga.me multiplica la potencia de miles de 
        pequeños esfuerzos individuales en una poderosa fuerza colectiva. 
        Es, además, un altavoz tecnológico que sirve a personas y 
        organizaciones para hacer oír su voz y constituirse en agente activo 
        en la vida política y social.
      </p>

      <h4>¿Por qué?</h4>
      <p>
        Es un hecho que las barreras burocráticas y la mala praxis politica 
        impiden a la ciudadanía ejercer su derecho a participar de la vida 
        pública y sus foros de decisión. Ya sea por la inaccesibilidad 
        física de los despachos de las instituciones o por la opacidad en 
        torno a los datos de contacto de los representantes políticos, lo 
        cierto es que el ciudadano medio se encuentra excluido y marginado 
        de la política.
      </p>
      <p>
        oiga.me pone a disposición de personas, asociaciones y colectivos 
	las herramientas necesarias para responder al aislamiento, pedir 
        responsabilidades políticas, y participar en acciones eficaces e 
        innovadoras sobre asuntos importantes. Se trata, en resumen, de
	devolver la partipación a la democracia. 
      </p>

      <h4>¿Quiénes somos?</h4>
      <p>
        oiga.me es un proyecto <a href="https://github.com/alabs/oigame">desarrollado con Software Libre</a> por la 
	asociación aLabs con la colaboración del consejo social de oiga.me. 
      </p>

      <h4>¿Qué es el consejo social de oiga.me y quiénes lo componen?</h4>
      <p>
        El consejo social de oiga.me está formado por entidades y personas 
        tienen nuestra admiración por las prácticas que vienen realizando 
        desde hace años. Su criterio, su capacidad de reflexión y análisis 
        sumado a su experiencia son un punto de apoyo imprescindible para 
        oiga.me. El consejo social está en fase de crecimiento y actualmente 
        lo componen la ONG <a href="http://www.ecologistasenaccion.org/">Ecologistas en Acción</a>,
	el sindicato <a href="http://cgt.es">CGT</a>, la <a href="http://www.plataformasahara.com/">Plataforma Política de Apoyo al Pueblo Saharaui</a>, la cooperativa <a href="http://dabne.net">DABNE</a>,
	el MOC (Movimiento de Objección de Conciencia), el <a href="http://patiomaravillas.net">Patio Maravillas</a>,
	varias personas relacionadas con las nuevas tecnologías del barrio 
	de Lavapiés y la <a href="http://alabs.es">asociación aLabs</a>. 
	Todas estas personas y entidades están relacionadas con movimientos 
	sociales con los que hemos colaborado en los últimos años y cuyo 
	trabajo, cercanía y criterios valoramos y respetamos.
      </p>

      <h4>¿Qué funciones tiene el consejo social?</h4>
      <p>
        Velar por el buen uso de la plataforma mediante la valoración de 
        conflictos en el uso de la herramienta: Revisando el cumplimiento de 
        las condiciones de uso, analizando y valorando aquellos casos donde 
        surjan conflictos e incidencias, buscando consenso y flexibilidad 
        en sus propuestas de soluciones con un equilibro entre las 
        posibilidades de la herramienta y las buenas prácticas que 
        deseamos.
      </p>
      <p>
        Facilitar la incorporación de nuevas entidades o personas mediante 
        consenso mayoritario.
      </p>
      <p>
        Proponer campañas especiales: La selección de determinadas campañas 
        al año para apoyarlas desde el consejo social en bloque.
      </p>
      <p>
        Líneas de investigación: Propuestas dirigidas a mejoras en la 
        plataforma, que permitan que el esfuerzo que invertimos en ella 
        tenga como resultado mejoras para las comunidades que la utilizan.
      </p>
      <p>
        Apoyar la plataforma y conseguir recursos para su buen 
        funcionamiento.
      </p>

      <h3>Comunidad oiga.me</h3>

      <h4>¿Cómo puedo ayudar?</h4>

      <p>
        Las formas de implicarse con este movimiento varían desde la mera 
        participación en las campañas de oigame hasta la colaboración activa 
        más directa como voluntario en el equipo de desarrolladores de 
        software. Según tus habilidades e intereses podrás colaborar de 
        varias formas, pero sobre todo te animamos a que te hagas miembro de 
        oiga.me introduciendo tu correo en la página principal.
      </p>

      <h4>Como pariticipante en campañas</h4>
      <p>
        Colaborar con una campaña es muy sencillo. Lo único que tendrás que 
        hacer es ..?? seguir las instrucciones de cada proyecto. En unas se 
        pedirá...
      </p>

      <h4>Como webmaster: Difunde las campañas, integra el formulario</h4>
      <p>
        Cada campaña de oiga.me puede replicarse en tu blog o página web. 
        Introduciendo un pequeño código HTML que ponemos a tu disposición, 
        ayudarás a la plataforma a multiplicar los accesos a cada campaña, 
        de tal forma que la web de oiga.me no sea el único punto de acceso 
        para los usuarios que se quieran apuntar a una campaña.
      </p>
      <h4>¿Qué es el formulario y cómo se usa?</h4>
      <p>
      El "formulario" es un pequeño código de httml que permite ser integrado en el código de tu propia página web o blog. El formulario tiene el objetivo de replicar la aplicación al servicio a cada campaña en puntos de la red distintos de este sitio web. La idea no es sólo aumentar la difusión de cada campaña, sino que su puesta en práctica sea colaborativa y abierta, favoreciendo la implicación activa de todos aquellos que compartan el objetivo.
      </p>

      <h4>Dona</h4>
      <p>
        Como asociación cultural independiente, y sin ánimo de lucro, 
        aLabs destina estas donaciones a mantener los servidores de oiga.me 
        y mejorar la plataforma, cada pequeña donación es un gran apoyo que 
        nos permite dar soporte y difusión a las campañas. La aportaciones 
        pueden realizarse <a href="/donate" title="Donar">directamente desde 
        la web</a> a través de nuestra pasarela segura. Gracias a este 
        sistema se puede garantizar una máxima protección de los datos que 
        aportes (nombre y número de tarjeta de crédito) al hacer la 
        donación.
      </p>
      <p>
        Puedes revisar nuestra <a href="/donate" title="política de 
        donaciones">política de donaciones</a>.
      </p>
      <h4>Entra en nuestro equipo de desarrollo</h4>
      <p>
        La labor de desarrollo de código es un trabajo en evolución 
        constante. Por esto, toda colaboración en bienvenida. Si tienes 
        ganas de participar como desarrollador te animamos a que te 
        suscribas a la lista y nos lo comuniques.
      </p>
      <h4>¿Cómo puedo proponer una campaña?</h4>
      <p>
        Puedes dirigirte a tu entidad más cercana del consejo social de 
        oiga.me(enlace) y proponerles la campaña.
      </p>

      <h4>¿Qué ocurre con mis datos cuando participo en una campaña?, ¿y al registrarme?</h4>
      <p>
        Al participar en una campaña, se guarda un registro del número de 
        participantes y acciones con fines estadísticos, pero no los datos 
        de los usuarios. Estos datos no son almacenados porque oiga.me solo 
        hace de intermediario entre el objetivo de la campaña y quien se 
        suma voluntariamente a ella.
      </p>
      <p>
        Cuando te registras como usuario de oiga.me, entregas 
        voluntariamente a aLabs unos datos personales que aLabs guarda, 
        protege y utiliza sólo para las finalidades previstas en este sitio 
        web. Si desdeas más información, puedes consultar nuestra 
        <a href="/privacy-policy" title="Política de privacidad">política de 
        privacidad</a>.
      </p>
    </div><!-- page-info -->
    <div id="page-sidebar">
      <ul id="toc">
      </ul>
    </div><!-- page-sidebar -->
  </div><!-- page -->
</div><!-- page-wrapper -->
