<% @page_title = t(:message_received) %>

<div id="page-wrapper">
  <div id="page">
    <div id="page-info">
      <h2><%= @page_title %></h2>
      <p>Tu mensaje ha sido recibo, en cuanto podamos nos pondremos en contacto contigo si así es necesario.</p>
      <p>Saludos del equipo de <strong>oiga.me</strong></p>
      <p><%= link_to t(:go_to_home), root_path %></p>
    </div><!-- page-info -->
  </div><!-- page -->
</div><!-- page-wrapper -->

</div>

</div>

</div>
