<% @page_title = t(:donate) %>

<div id="page-wrapper">
  <div id="page">
    <div id="page-info">
      <h2><%= @page_title %></h2>
      <p>Como organización independiente y sin ánimo de lucro <strong>aLabs</strong> destina todo el dinero de cada donación recibida en <strong>oiga.me</strong> a mantener y potenciar esta plataforma. Con tu apoyo podemos conseguir que muchas personas puedan alzar su voz y coordinarse para cambiar el mundo, tu donación colabora directamente para que miles de personas puedan organizarse y realizar acciones de gran impacto.</p>
      <p>oiga.me mantiene un equipo de trabajo reducido al máximo para mantener sus costes bajos. Apoyados por un equipo de voluntarios y voluntarias con años de experiencia en desarrollo de software, gestión de proyectos y comunicación que permiten de esta manera reducir el coste de campañas de alto impacto para decenas de organizaciones sociales.</p>
      <p>Practicamos una política de transparencia económica, cada año publicaremos un resumen con lo recaudado en donaciones y el destino de las mismas.</p>
      <h3>Sobre certificados SSL</h3>
      <p>Las transacciones con tarjetas de crédito son procesadas en línea usando el TPV de pago de Banesto. Con este sistema seguro de pago la información viaja cifrada antes de ser enviada usando el certificado SSL. Si encuentras algún problema usando el sistema, tienes alguna duda o alguna recomendación, por favor contacta con aLabs a través del correo donaciones[arroba]alabs.es.</p>
    </div><!-- page-info -->
    <div id="page-sidebar">
      <div id="donate-form-wrapper">
        <div id="donate-form" class="form-stacked">
          <h2>Dona a oiga.me</h2>
          <form action="http://pruebas.pagoseguro.com.es/cgi-bin/totalizacion" method="post">
            <fieldset>
              <input type="hidden" name="nombre_comercio" value="ALABS_PRUEBAS" />
              <input type="hidden" name="referencia" value="<%= @reference %>" />
              <input type="hidden" name="moneda" value="EUR" />
              <input type="hidden" name="project" value="oigame" />
              <input type="hidden" name="type" value="donation" />
              <div class="form-field">
                <select name="coste">
                  <option value=""><%= t(:amount_to_donate) %></option>
                  <option value="10.00">10 Euros</option>
                  <option value="20.00">20 Euros</option>
                  <option value="50.00">50 Euros</option>
                  <option value="75.00">75 Euros</option>
                  <option value="100.00">100 Euros</option>
                  <option value="200.00">200 Euros</option>
                  <option value="500.00">500 Euros</option>
                </select>
              </div>
              <div class="form-actions">
                <input type="submit" name="submit" value="Realizar la donación" class="btn primary" />
              </div>
            </fieldset>
          </form>
          <p>Tajetas aceptadas:<br />
          <%= image_tag('credit-cards.jpg') %>
        </div><!-- donate-form -->
      </div><!-- donate-form-wrapper -->
    </div><!-- page-sidebar -->
  </div><!-- page -->
</div><!-- page-wrapper -->
