<% @page_title = t(:there_was_a_problem) %>

<div id="page-wrapper">
  <div id="page">
    <div id="page-info">
      <h2><%= @page_title %></h2>
      <p>Hubo un problema con tu donación a <strong>oiga.me</strong> y la transacción no ha podido realizarse con éxito por lo que no se ha cargado ninguna cantidad en tu cuenta. Prueba a repetir de nuevo el proceso y si sigue habiendo problemas ponte en contacto con el equipo de <strong>aLabs</strong> en la dirección de correo donaciones[arroba]alabs.es.</p>
    </div><!-- page-info -->
  </div><!-- page -->
</div><!-- page-wrapper -->
