<% @page_title = t(:donate) %>

<div id="page-wrapper">
  <div id="page">
    <div id="page-info">
      <h2><%= @page_title %></h2>
      <p>En construcción</p>
    </div><!-- page-info -->
  </div><!-- page -->
</div><!-- page-wrapper -->
