<% @page_title = 'Ayuda' %>
<div id="page-wrapper faq">
  <div class="fondo">
  <h2 class="paper">FAQ <a href="https://&lt;strong&gt;oiga.me&lt;/strong&gt; "><strong>oiga.me?</strong> </a></h2>
  <ol>
    <li>
      <h3>¿Quién puede proponer campañas?</h3>
      <p>Pueden proponer campañas todas las personas, colectivos u organizaciones que lo deseen.</p>
    </li>
    <li>
      <h3>¿Cúales son los criterios para que se acepten propuestas de campañas?</h3>
      <p>Recursos disponibles: oiga.me, como toda aplicación, tiene una capacidad limitada.
        Respeto: Un criterio básico en las campañas es el respeto a los derechos de las personas, pero también el respeto al medio ambiente y todo ser vivo, así como utilizar un lenguaje positivo e inclusivo.</p>
      <p>Sentido común: Aún siendo el menos común de todos los sentidos, aLabs comparte la plataforma y el código de oiga.me con la intención de facilitar campañas que permitan a la sociedad del siglo XXI organizarse mediante herramientas telemáticas para conseguir transformar su realidad y ser efectivos. Por ese motivo hemos creado el consejo social de oiga.me para compartir las decisiones con redes en cuyo criterio confiamos.</p>

    </li>
    <li>
      <h3>¿Qué ocurre con mis datos al registrarme?, ¿y cuando participo en una campaña?</h3>
      <p>Cuando te registras como usuario de oiga.me, entregas voluntariamente ciertos datos personales que serán guardados, protegidos y utilizados sólo para las finalidades previstas en este sitio web. Si deseas más información, puedes consultar nuestra política de privacidad.</p>
      <p>Al participar en una campaña a través de este sitio web, se guarda un registro del número de participantes y acciones con fines estadísticos. El usuario autoriza expresamente a la asociación <strong>aLabs</strong> a facilitar los datos que introduzca en el formulario de la campaña (Nombre completo, apellidos y dirección de correo electrónico) a la persona o entidad que impulse y gestione dicha campaña con el único y exclusivo objetivo de presentarlos ante la entidad final a la que se dirija la instancia</p>
    </li>
    <li>
      <h3>¿Cómo apoyar la difusión de las campañas?</h3>
      <p>Difunde las campaña como webmaster Cada campaña de oiga.me puede replicarse en tu blog o página web. Introduciendo un pequeño código HTML o Javascript que ponemos a tu disposición ayudarás a que la campaña sea visible desde más sitios, de tal forma que la web de oiga.me no sea el único punto de acceso para los usuarios que se quieran apuntar a una campaña y tu página web o blog sea también el centro de la acción.¿Cómo integrar el formulario? El "formulario" es un pequeño código de html que puedes integrar en el código de tu propia página web o blog. Es muy sencillo, simplemente copia el código del formulario y pégalo en una nueva entrada en tu blog, al publicar la nueva entrada verás el formulario en la portada de tu web y tus lectores podrán participar en la acción, construyendo un gran altavoz de manera distribuida</p>
      <p>Por correo electrónico: Envía los mensajes que recibas de nuevas campañas a tus contactos que puedan estar interesados. Difunde las campañas por listas de correo que puedan estar interesadas.</p>
      <ul>
        
        <li><i class="icon-double-angle-right"></i><a href="https://twitter.com/oigame">
          
        </a>Sigue a @oigame en <a href="https://twitter.com/oigame">Twitter </a> </li>
        <li><i class="icon-double-angle-right"></i>Haz RT de las campañas que te interesen o publica tu participación en las mismas.</li>
        <li><i class="icon-double-angle-right"></i>Participa en la difusión de los #hastags de las campañas.</li>
        <li><i class="icon-double-angle-right"></i>Facebook: Haz click en "Compartir con mis amigos en Facebook" en la firma de campaña para compartirla en tu muro.</li>
           <li><i class="icon-double-angle-right"></i>Por RSS Incluye el RSS (enlace) de las campañas de de oiga.me en tu página web.</li>
      </ul>
    </li>
    <br>
    <li>
      <h3>¿Cómo puedo participar? Como me integro en la comunidad <a href="http://oiga.me">oiga.me</a></h3>
      <p><ul>
        <li><i class="icon-double-angle-right"></i><a href="/es/donate/init" >Dona</a></li>
        <li><a href="https://github.com/alabs/oigame"><i class="icon-double-angle-right"></i>Desarrolla </a></li>
        <li><i class="icon-double-angle-right"></i><a href="/es/donate/init" >Crea tu Campaña</a></li>
      </ul>
    </p>
      <p>Las formas de colaborar con oiga.me van desde la mera participación en las campañas que te interesen, hasta la colaboración activa más directa aportando recursos o como voluntario en el equipo de desarrolladores. Inscríbete y recibirás un mail semanal con las nuevas campañas; entra en nuestro repositorio en<a href="https://github.com/alabs/oigame">
        Github
        </a> para mandarnos tus propuestas para mejorar la web.</p>
      <p>Cada pequeña donación es un gran apoyo que nos permite mejorar la plataforma con nuevas funcionalidad y dar soporte y difusión a las campañas. Las aportaciones pueden realizarse directamente desde la web a través de nuestra pasarela segura, que garantiza la máxima protección de tus datos (nombre y número de tarjeta de crédito). Como asociación cultural independiente y sin ánimo de lucro, aLabs destina estas donaciones a mantener los servidores de oiga.me y mejorar la plataforma.</p>
      <p>La labor de desarrollo de código es un trabajo en evolución constante: toda colaboración es bienvenida. Si tienes ganas de participar como desarrollador, te animamos a que te suscribas a la lista y nos lo comuniques a <a src="https://listas.alabs.es/mailman/listinfo/oigame-dev"> https://listas.alabs.es/mailman/listinfo/oigame-dev </a><p>
    </li>
  </ol>
 </div><!-- fondo -->
</div>
