<% @page_title = 'Ayuda' %>

<div id="page-wrapper">
  <div id="page">
    <div id="preguntas">
      <div id="page-info">
        <%= render :partial => "help" %>
      </div><!-- page-info -->
      <div id="page-sidebar">
        <ul id="toc"> </ul>
      </div><!-- page-sidebar -->
    </div><!-- preguntas -->
  </div><!-- page -->
</div><!-- page-wrapper -->
