<% @page_title = 'Ayuda' %>


  <div class="row-fluid">

  <%= render :partial => 'partials/diferencial' %>
  <%= render :partial => 'partials/logo' %>

  <div class="span7">

<div id="page-wrapper">
        <%= render :partial => "help" %>
</div><!-- preguntas -->

</div>

</div>

