<% @page_title = 'Ayuda' %>

<div class="container-fluid">
  <%= render :partial => 'partials/diferencial' %>
  <%= render :partial => 'partials/logo' %>

  <div class="span9">

<div id="page-wrapper">
  <div id="page">
    <div id="preguntas">
      <div id="page-info">
        <%= render :partial => "help" %>
      </div><!-- page-info -->
      <div id="page-sidebar">
        <ul id="toc"> </ul>
      </div><!-- page-sidebar -->
    </div><!-- preguntas -->
  </div><!-- page -->
</div><!-- page-wrapper -->

</div>

</div>
