<% @page_title = t(:home) %>
<div class="carro" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class='iosSlider'>
    <div class='slider'>
      <div class='item' id='item4'>
        <div class='image'>
          <div class='bg'></div>
        </div>
        <div class='text'>
          <div class='bg'></div>
          <div class='title'>
            <span>Software libre para la movilización ciudadana</span>
          </div>
          <div class="desc">
            <span>Tecnología libre para la movilización ciudadana</span>
          </div>
        </div>
      </div>

      <div class='item' id='item1'>
        <div class='image'>
          <div class='bg'></div>
        </div>
        <div class='text'>
          <div class='bg'></div>
          <div class='title'>
            <span>¡Cambia! Activa al lobby ciudadano</span>
          </div>
        </div>
      </div>

      <div class='item' id='item2'>
        <div class='image'>
          <div class='bg'></div>
        </div>
        <div class='text'>
          <div class='bg'></div>
          <div class='title'>
            <span>¡Actúa! Crea una campaña</span>
          </div>
        </div>
      </div>

      <div class='item' id='item3'>
        <div class='image'>
          <div class='bg'></div>
        </div>
        <div class='text'>
          <div class='bg'></div>
          <div class='title'>
            <span>¡Apoya! Firma, haz click, llama</span>
          </div>
        </div>
      </div>

      <div class='item' id='item5'>
        <div class='image'>
          <div class='bg'></div>
        </div>
        <div class='text'>
          <div class='bg'></div>
          <div class='title'>
            <span>Plataforma sin ánimo de lucro, hecha desde el 99% para el 99%</span>
          </div>
        </div>
      </div>
     </div>
    <div class='prevButton'></div>
    <div class='nextButton'></div>
    <div class='iosSliderButtons'>
      <div class='button'></div>
      <div class='button'></div>
      <div class='button'></div>
      <div class='button'></div>
      <div class='button'></div>
    </div>
  </div>


  <div class="sidecarro">
    <i class="icon-bullhorn">campañas 33</i>
    <i class="icon-pencil">Firmas 1000</i>
    <i class=" icon-user">Usuarios 29</i>
    <i class=" icon-globe">Países 5</i>
  </div>
  <!-- sidecarro -->
</div>
</div><!-- carrousel -->

<div class="welcome welchi c">
  <div class="welinfo">
    <span class="circle"><i class="icon-lightbulb icon-2x"></i></span>
    Una herramienta de movilización ciudadana a través de la red, <a href="">crea tu propia campaña</a>
  </div><!-- welinfo -->
  <div class="welinfo">
    <span class="circle"><i class="icon-hand-right icon-2x"></i> </span>
    Una herramienta de presión social abierta, horizontal y transparente.
  </div><!-- welinfo -->
</div><!-- welcome -->

<div class="campaing c">
  <ul class="photo">
    <% @campaigns_carousel.each do |campaign| %>
      <li>
        <a href="<%= campaign_path(campaign) %>">
        <div class="campa-home">
    <%= image_tag(campaign.image_url(:home)) %>
    <div class="campa-texto">
      <div class="campa-texto-left">
      <%= link_to campaign.name, campaign %>
      </div><!-- left -->
      <div class="campa-texto-right">
      <img src="<%= avatar_url(campaign.user.email) %>" alt="creador de campaña"/>
      </div><!-- left -->
    </div><!-- campa-texto -->
  </a>
      </li>
    <% end %>
  </ul>
</div><!-- campaing -->
<div class="c">
  <div class="entra">
    <div class="smsentra">
      Crea tus campañas, firma, actúa, y compartela con tus redes.
      <p class="min">No odies al lobby, ¡cómetelo!</p>

    </div><!-- smsentra -->

    <div class="buttonentra">
      <i  class="icon-share-alt icon-3x"></i>

      <input type="button" name="" value="Crear campaña" class="btn"/>

    </div><!-- button -->
  </div><!-- entra -->
</div>

