<% @page_title = t(:press) %>

<div id="page-wrapper">
  <div id="page">
    <div id="page-info">
      <h2><%= t(:press) %></h2>
      <ul class="thumbnails">
        <li class="span4">
          <a href="http://blogs.20minutos.es/codigo-abierto/2013/01/23/oiga-me-un-entorno-activista-al-servicio-del-99/" class="thumbnail">
            <%= image_tag "press_image_20m.png" %>
            <div class="caption">
              <h3>20minutos.es</h3>
              <p><b>Blogs - Código abierto - Bernardo Gutiérrez</b></p> Oiga.me, un entorno activista al servicio del 99%</p>
            </div>
          </a>
        </li>
        <li class="span4">
          <a href="https://www.diagonalperiodico.net/saberes/la-accion-politica-va-estar-mas-basada-formas-hacer-ideas-preestablecidas.html" class="thumbnail">
            <%= image_tag "press_image_diago.png" %>
            <div class="caption">
              <h3>Periódico Diagonal</h3>
              <p><b>Saberes</b></p> "La acción política se basará más en las formas de hacer que en ideas preestablecidas"</p>
            </div>
          </a>
        </li>
        <li class="span4">
          <a href="http://www.yorokobu.es/oigame/" class="thumbnail">
            <%= image_tag "press_image_yoko.png" %>
            <div class="caption">
              <h3>Yorokobu</h3>
              <p><b>Take a walk on the slow side</b></p> Oiga.me: una plataforma para impulsar lobbies ciudadanos</p>
            </div>
          </a>
        </li>
      </ul>
    </div><!-- page-info -->
  </div><!-- page -->
</div><!-- page-wrapper -->
