<% @page_title = t(:press) %>
<% @header_top = t(:press) %>

<div class="row-fluid">
  <script src="//storify.com/oigame/oiga-me-en-los-medios.js"></script><noscript>[<a href="//storify.com/oigame/oiga-me-en-los-medios" target="_blank">View the story "oiga.me versión 2" on Storify</a>]</noscript>
</div>
