<% @page_title = t(:privacy_policy) %>

<div id="page-wrapper">
  <div id="page">
    <div id="page-info">
      <h2><%= @page_title %></h2>
      <h3>Aviso legal</h3>
      <p>Esta politica de privacidad se aplica a la relación del usuario con todas aquellas páginas bajo el dominio oiga.me (en adelante, el "sitio web") operado por la Asociación sin ánimo de lucro aLabs (en adelante "aLabs") y cualquiera de sus entidades asociadas o que controlen y hagan uso de la información que obtengan através del Sitio web.</p>
      <p>aLabs a través del sitio web, facilita a los usuarios el acceso a determinados contenidos puestos a disposición por a Labs o por terceros.</p>
      <p>La navegación por el sitio web, atribuye la condición de usuario y conlleva la aceptación plena y sin reservas del presente aviso legal y los términos y condiciones que se detallan a continuación.</p>
      <h3>Términos y condiciones</h3>
    </div><!-- page-info -->
  </div><!-- page -->
</div><!-- page-wrapper -->
