<% @page_title = t(:privacy_policy) %>

<div id="page-wrapper">
  <div id="page">
    <div id="page-info">
      <h2><%= @page_title %></h2>
      <h3>Aviso legal</h3>
      <p>Esta politica de privacidad se aplica a la relación del usuario con todas aquellas páginas bajo el dominio oiga.me (en adelante, el "sitio web") operado por la Asociación sin ánimo de lucro aLabs (en adelante "aLabs") y cualquiera de sus entidades asociadas o que controlen y hagan uso de la información que obtengan através del Sitio web.</p>
      <p>aLabs a través del sitio web, facilita a los usuarios el acceso a determinados contenidos puestos a disposición por a Labs o por terceros.</p>
      <p>La navegación por el sitio web, atribuye la condición de usuario y conlleva la aceptación plena y sin reservas del presente aviso legal y los términos y condiciones que se detallan a continuación.</p>
      <h3>Términos y condiciones</h3>
      <ol>
        <li>aLabs podrá modificar los términos y condiciones en cualquier momento, desplegando estos sus efectos desde el momento de su publicación en esta página. Debes estar atenta a las posibles actualizaciones del contenido. La última revisión se publicó el 23.03.2011.</li>
        <li>Aceptas utilizar el sitio web únicamente con propósitos legales, y de manera que no restrinja o inhiba el uso y recreación del mismo por terceros.</li>
        <li>Las marcas, nombres comerciales y otros signos distintivos expuestos en este portal que no sean de la titularidad de aLabs se regirán por lo dispuesto en la legislación aplicable a la licencia a que se atienen. aLabs no se hace responsable del posible uso que los ususarios puedan hacer de los mismo.</li>
        <li>No obstante lo anterior, se otorga permiso para copiar, distribuir y/o modificar los contenidos publicados (textos, fotografías, gráficos, imágenes, iconos, software, diseño gráfico, código fuente, etc.) en cualquiera de las páginas bajo el dominio de aLabs y que sean de su titularidad, salvo que se indique expresamente lo contrario, bajo los términos de la Licencia Creative Commons (CC BY-SA 3.0).</li>
        <li>aLabs no se hace responsable del contenido de sitios de Internet externos que pudieran ser enlazados en este sitio web.</li>
        <li>Cualquier comunicación o material que transmitas o envíes a cualquier área pública de este sitio web incluidos datos, preguntas, comentarios, sugerencias, o similar, será tratado como información no confidencial y no patentada.</li>
        <li>Estos términos y condiciones serán regidos e interpretados de acuerdo con las leyes del estado español. Cualquier disputa estará sujeta a la exclusiva jurisdicción de los tribunales españoles, sin perjuicio de que cualquier causa litigiosa pudiera resolverse mediante el arbitraje de derecho.</li>
        <li>Si no aceptas estos términos y condiciones en su totalidad, debes dar por terminado el uso de este sitio de forma inmediata.</li>
      </ol>
      <h3>Política de privacidad</h3>
      <p> aLabs se compromete a proteger tus datos personales a través de todos los medios tecnológicos a su disposición y a utilizarlos, exclusivamente, con las finalidades propias del Sitio web y aquellas para las que des tu consentimiento expreso. Este compromiso que adquirimos contigo, tiene otra serie de condiciones que debes conocer.</p>
      <h4>Consentimiento</h4>
      <p> Los usuarios no están obligados a proporcionar ningún dato personal para utilizar el Sitio web. Sin embargo, pueden proporcionarnos una serie de datos personales que variarán en función de distintos proyectos a los que aLabs se dedique en cada momento. Estas informaciones deben ser veraces.</p>
      <h4>Una especial mención a los datos que acompañan a las donaciones<h4>
      <p>Si deseas hacer una donación a aLabs, la información de tu tarjeta de crédito y otros bancarios, se utilizará una sola vez y por una sola transacción, bajo nuestro sistema de pagos seguros en Internet. aLabs no conserva información de tarjetas de crédito u otros datos bancarios.</p>
      <h4>Cancelación y rectificación de datos</h4>
      <p>Cualquier usuario podrá ejercer sus derechos de acceso, rectificación o cancelación de datos, así como la revocación del consentimiento a través de una solicitud enviada al correo electrónico de aLabs prevista para tal efecto.</p>
      <p>La dirección de correo para ejercitar estas acciones es lopd[arroba]alabs.es</p>
      <p>Así mismo, puedes ponerte en contacto con aLabs a través de la dirección de la siguiente dirección: C/ Embajadores nº35, local 6, 28012, Madrid.</p>
      <h4>Responsables de los datos personales</h4>
      <p>aLabs es administradora de los datos que le proporcionas, y el uso de los mismos se corresponderá exclusivamente con la finalidad propia del Sitio web o aquella que el usuario le haya asignado.</p>
      <h4>Menores de edad</h4>
      <p>aLabs entiende la importancia de proteger la privacidad de los menores en Internet. No forma parte de nuestra política recoger ningún dato personal relativo a los usuarios menores de 13 años. Si eres menor, te recomendamos que solicites ayuda a tus padres y te pedimos que no utilices la herramienta de email ni la aplicación para hacer donaciones.</p>
      <h4>Información de interés</h4>
        <li>Cookies: aLabs controla estadísticas de acceso y podría usar cookies para llevarlas a cabo. Si quieres desactivar las cookies, puedes hacerlo en las opciones de tu navegador, pero es posible que no puedas acceder después a distintas partes del Sitio web.</li>
        <li>Rastreos: Con el propósito de ofrecer un mejor servicio a los Usuarios, estudiamos los datos de tráfico en el Sitio web. Para ello utilizamos un resgistro de IP que nos ayude a entender mejor el origen de las visitas y, en consecuencia, los servicios que podemos ofrecer.</li>
      <p>En algunos emails enviados por aLabs, además, se contendrán localizadores URL, que permiten identificar a las personas que deciden interactuar en el Sitio web.</p>
      <h4>Enlaces</h4>
      <p>aLabs se puede enlazar recíprocamente con otros sitios web. Evidentemente, estos sitios web operados por terceras partes tienen sus propias políticas de privacidad y términos de uso fuera de todo control por parte de aLabs. No podemos hacernos responsables, por tanto, del contenido, publicidad, productos u otros materiales que se contengan en esos otros sitios web. Haciedo uso de este Sitio web aceptas que aLabs no se hace responsable directo o indirecto de los daños o perjuicios derivado de dichos contenidos de teceros.</p>
      <p>Por último, te recordamos que puedes ponerte en contacto con nosotras para solucionar cualquier duda a través de la dirección info[arroba]alabs.es.</p>
      </p>
      <p>Si tienes cualquier duda puedes ponerte en contacto con nosotras a través de la dirección info[arroba]oiga.me</p>
    </div><!-- page-info -->
  </div><!-- page -->
</div><!-- page-wrapper -->
