<% @page_title = 'Tutorial' %>

<div id="page-wrapper">
  <div id="page">
    <div id="tutorial">
      <div id="page-info">
        <%= render :partial => "tutorial" %>
      </div><!-- page-info -->
      <div id="page-sidebar">
        <ul id="toc"></ul>
      </div><!-- page-sidebar -->
    </div><!-- tutorial -->
  </div><!-- page -->
</div><!-- page-wrapper -->
