defaults: &defaults
  social_council_email: ''
  gw_domain: ''
  twitter_consumer_key: ''
  twitter_consumer_secret: ''
  twitter_oauth_token: ''
  twitter_oauth_token_secret: ''
  facebook_token: ''
  facebook_page_token: ''
  facebook_app_id: ''
  facebook_app_secret: ''
  our_fax_number: ''
  our_fax_password: ''
  fax_email_address: ''
  fax_email_port: 995
  fax_email_user_name: ''
  fax_email_password: ''
  fax_test_address: ''

development:
  <<: *defaults
  domain: localhost:8080

test:
  <<: *defaults
  domain: localhost:8080

production:
  <<: *defaults
  domain: oiga.me
