<% @page_title = t('oigame.errors.internal_server_error') %>
<div id="page-wrapper">
  <div class="fondo">
      <h2 class="paper"><%= @page_title %></h2>
      <p><%= t('oigame.errors.internal_server_error_explain') %></p>      
    </div><!-- page-info -->
    </div><!-- fondo -->
  </div><!-- page -->
</div><!-- page-wrapper -->
