<ul id="social-buttons" style="margin: 30px 0px 30px 0px;">

  <li id="g+">
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <g:plusone></g:plusone>
  </li>
  <li id="tw">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="apardo" data-lang="es">Twittear</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
  <li id="fb">
    <span>Facebook</span>
  </li>
</ul><!-- social-buttons -->
