<ul id="social-buttons" style="margin: 30px 0px 30px 0px;">

  <li id="g+">
    <div class="g-plusone" data-size="tall" data-href="<%= share_url %>"></div>
  </li>
  <li id="tw">
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="He apoyado la petición <%= share_url %> en @oigame" data-lang="es" data-count="vertical" data-related="oigame">Twittear</a>
  </li>
  <li id="fb">
    <div class="fb-like" data-href="<%= share_url %>" data-width="450" data-layout="box_count" data-show-faces="true">
  </li>
</ul><!-- social-buttons -->
