<div id="no_credit_fax">
  <h4>No hay suficiente dinero</h4>
  <p>Actualmente está campaña no tiene suficiente dinero para poder mandar mensajes.</p>
  <p>Para poder seguir mandando mensajes es necesario realizar una donación</p>
    <%= form_tag add_credit_campaign_path , method: 'get' do %>
    <div class="btn-campaign">
      <%= button_tag 'Agregar crédito' %>
    </div>
    <% end %>
</div>