<table class="zebra-striped">
  <thead>
    <tr>
      <th>si escribes:</th>
      <th>quedará:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>*cursiva*</td>
      <td><em>cursiva</em></td>
    </tr>
    <tr>
      <td>**negrita**</td>
      <td><b>negrita</b></td>
    </tr>
    <tr>
      <td>[oiga.me](http://oiga.me)</td>
      <td><a href="http://oiga.me">oiga.me</a></td>
    </tr>
    <tr>
      <td>* item 1<br>* item 2<br>* item 3</td>
      <td><ul><li>item 1</li><li>item 2</li><li>item 3</li></ul></td>
    </tr>
    <tr>
      <td>&gt; texto citado</td>
      <td><blockquote>texto citado</blockquote></td>
    </tr>
    <tr>
      <td>
        La líneas que empiezan con cuatro espacios<br>son tratadas como código:<br><br><span class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;</span>if 1 * 2 &lt; 3:<br><span class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>print "hola, mundo!"<br>
      </td>
      <td>
        La líneas que empiezan con cuatro espacios<br>son tratadas como código:<br><pre>if 1 * 2 &lt; 3:<br>&nbsp;&nbsp;&nbsp;&nbsp;print "hola, mundo!"</pre>
      </td>
    </tr>
  </tbody>
</table>
