  <div id="modal-notify-nocredit" data-keyboard="true" class="modal fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Esta campaña no tiene crédito</h3>
    </div>
     <div class="modal-body">
       <p>Esta campaña no dispone de crédito para poder enviar faxes. Si quieres añadir crédito para poder activarla puedes hacerlo pulsando el botón 'añadir crédito'. Esto te enviará al banco con el que opera oiga.me y de esa manera la campaña se podra poner en funcionamiento. Gracias por tu colaboración.</p>
     </div>
     <div class="modal-footer">
       <%= link_to t(:close), '#', 'data-dismiss' => 'modal', :class => 'btn' %>
       <%= link_to t(:add_credit), add_credit_campaign_path, :class => 'btn btn-inverse' %>
     </div>
  </div>
