<h2 class="jtc">Únete</h2>

<div id="campaign-message-form" class="form-stacked">
  <%= form_tag petition_campaign_path do %>
    <fieldset>
      <% unless user_signed_in? %>
        <p>¡Que se escuche tu voz! Para unirte a la campaña introduce tu correo electrónico y haz click en el botón <strong>unirme</strong>.</p>
        <br />
      <% else %>
        <p>¡Que se escuche tu voz! Para participar en la campaña haz click en el boton <strong>unirme</strong>.</p>
        <br />
      <% end %>
      <% unless user_signed_in? %>
        <div class="form-field">
          <%= label_tag t(:your_email) %>
          <%= email_field_tag :email, nil, :required => true, :placeholder => 'Tu correo electrónico' %>
        </div>
      <% end %>
      <div class="form-actions">
        <%= submit_tag 'Unirme', :class => 'btn primary large center' %>
      </div>
    </fieldset>
  <% end %>
</div><!-- campaign-message-form -->
