<div id="stats-chart">
  <h2><%= t(:stats) %></h2>
  <div id="js-stats-data" class="hide"><%= @campaign.stats[:data] %></div>
  <div id="js-stats-dates" class="hide"><%= @campaign.stats[:dates] %></div>
  <div id="js-stats-chart" style="height:300px; margin-top:20px;"></div>
</div><!-- stats-chart -->
