<div id="stats-chart">
  <h2><%= I18n.t(:stats) %></h2>
  <div id="stats-data" class="hide"><%= @stats_data %></div>
  <div id="stats-minimal_date" class="hide"><%= @campaign.created_at.yesterday.strftime("%Y-%m-%d") %></div>
  <div id="chart_center" style="width: 500px; height:300px; margin: 0 auto;">
    <div id="chart_messages"></div>
  </div>
</div><!-- stats-chart -->
