<select id="js-telephone-countries" name="telephone_prefix" style="width:90%; margin-bottom:10px; background:white;">
  <optgroup label="Europa">
    <option value="0034 ">España         </option>
    <option value="00355">Albania        </option>
    <option value="0049 ">Alemania       </option>
    <option value="00376">Andorra        </option>
    <option value="00374">Armenia        </option>
    <option value="0043 ">Austria        </option>
    <option value="0032 ">Bélgica        </option>
    <option value="00375">Bielorrusia    </option>
    <option value="00387">Bosnia y Herzegovina   </option>
    <option value="00359">Bulgaria       </option>
    <option value="00357">Chipre         </option>
    <option value="00379">Ciudad del Vaticano    </option>
    <option value="00385">Croacia        </option>
    <option value="0045 ">Dinamarca      </option>
    <option value="00421">Eslovaquia     </option>
    <option value="00386">Eslovenia      </option>
    <option value="00372">Estonia        </option>
    <option value="00358">Finlandia      </option>
    <option value="0033 ">Francia        </option>
    <option value="0035 ">Gibraltar      </option>
    <option value="003  ">Grecia         </option>
    <option value="0036 ">Hungría        </option>
    <option value="00353">Irlanda        </option>
    <option value="00354">Islandia       </option>
    <option value="0039 ">Italia         </option>
    <option value="00371">Letonia        </option>
    <option value="00423">Liechtenstein  </option>
    <option value="0037 ">Lituania       </option>
    <option value="00352">Luxemburgo     </option>
    <option value="00389">Macedonia      </option>
    <option value="00356">Malta  </option>
    <option value="00373">Moldavia       </option>
    <option value="00377">Mónaco         </option>
    <option value="00382">Montenegro     </option>
    <option value="0047 ">Noruega        </option>
    <option value="0031 ">Países Bajos   </option>
    <option value="0048 ">Polonia        </option>
    <option value="00351">Portugal       </option>
    <option value="0044 ">Reino Unido    </option>
    <option value="0042 ">República Checa        </option>
    <option value="004  ">Rumania        </option>
    <option value="00378">San Marino     </option>
    <option value="00381">Serbia  Kosovo         </option>
    <option value="0046 ">Suecia         </option>
    <option value="0041 ">Suiza  </option>
    <option value="0038 ">Ucrania        </option>
    <option value="0038 ">Yugoslavia     </option>
  </optgroup>
  <optgroup label="Africa">
    <option value="00244">Angola         </option>
    <option value="00213">Argelia        </option>
    <option value="00297">Aruba  </option>
    <option value="00229">Benín  </option>
    <option value="00267">Botsuana       </option>
    <option value="00226">Burkina Faso   </option>
    <option value="00257">Burundi        </option>
    <option value="00238">Cabo Verde     </option>
    <option value="00237">Camerún        </option>
    <option value="00235">Chad   </option>
    <option value="00269">Comoras        </option>
    <option value="00225">Costa de Marfil        </option>
    <option value="00291">Eritrea        </option>
    <option value="00251">Etiopía        </option>
    <option value="00241">Gabón  </option>
    <option value="0022 ">Gambia         </option>
    <option value="00233">Ghana  </option>
    <option value="00299">Groenlandia    </option>
    <option value="00224">Guinea         </option>
    <option value="0024 ">Guinea Ecuatorial      </option>
    <option value="00245">Guinea Bissau  </option>
    <option value="00298">Islas Feroe    </option>
    <option value="00254">Kenia  </option>
    <option value="00266">Lesoto         </option>
    <option value="00231">Liberia        </option>
    <option value="00218">Libia  </option>
    <option value="00261">Madagascar     </option>
    <option value="00265">Malaui         </option>
    <option value="00223">Malí   </option>
    <option value="0023 ">Mauricio       </option>
    <option value="00222">Mauritania     </option>
    <option value="00258">Mozambique     </option>
    <option value="00264">Namibia        </option>
    <option value="00227">Níger  </option>
    <option value="00234">Nigeria        </option>
    <option value="00236">República Centroafricana       </option>
    <option value="00242">República del Congo    </option>
    <option value="00243">República Democrática del Congo        </option>
    <option value="0025 ">Ruanda         </option>
    <option value="0029 ">Santa Helena   </option>
    <option value="00239">Santo Toméy Príncipe   </option>
    <option value="00221">Senegal        </option>
    <option value="00248">Seychelles     </option>
    <option value="00232">Sierra Leona   </option>
    <option value="00252">Somalia        </option>
    <option value="00268">Suazilandia    </option>
    <option value="0027 ">Sudáfrica      </option>
    <option value="00249">Sudán  </option>
    <option value="00255">Tanzania       </option>
    <option value="00228">Togo   </option>
    <option value="00216">Túnez  </option>
    <option value="00256">Uganda         </option>
    <option value="00253">Yibuti         </option>
    <option value="0026 ">Zambia         </option>
    <option value="00263">Zimbabue       </option>
  </optgroup>
  <optgroup label="Asia">
    <option value="0088 ">Bangladesh     </option>
    <option value="00855">Camboya        </option>
    <option value="0086 ">China  </option>
    <option value="0085 ">Corea del Norte        </option>
    <option value="0082 ">Corea del Sur  </option>
    <option value="00852">Hong Kong      </option>
    <option value="0081 ">Japón  </option>
    <option value="00856">Laos   </option>
    <option value="00853">Macao  </option>
    <option value="00886">República de China     </option>
    <option value="0084 ">Vietnam        </option>
  </optgroup>
  <optgroup label="América del Norte">
    <option value="00126">Anguila        </option>
    <option value="00126">Antigua y Barbuda      </option>
    <option value="00124">Bahamas        </option>
    <option value="00124">Barbados       </option>
    <option value="00144">Bermudas       </option>
    <option value="001  ">Canada         </option>
    <option value="00176">Dominica       </option>
    <option value="00147">Granada        </option>
    <option value="00167">Guam   </option>
    <option value="00134">Islas Caiman   </option>
    <option value="00167">Islas Marianas del Norte       </option>
    <option value="00164">Islas Turcas y Caicos  </option>
    <option value="00128">Islas Vírgenes Britanicas      </option>
    <option value="00134">Islas Vírgenes Estadounidenses         </option>
    <option value="00187">Jamaica        </option>
    <option value="00166">Montserrat     </option>
    <option value="00168">Samoa Americana        </option>
    <option value="00186">San Cristóbal y Nieves         </option>
    <option value="00178">San Vicente y las Granadinas   </option>
    <option value="00175">Santa Lucía    </option>
    <option value="00186">Trinidad y Tobago      </option>
    <option value="001  ">Estados Unidos         </option>
    <option value="00180">República Dominicana   </option>
    <option value="00178">Puerto Rico    </option>
  </optgroup>
  <optgroup label="América del Sur">
    <option value="005  ">Islas Malvinas         </option>
    <option value="00501">Belice         </option>
    <option value="00502">Guatemala      </option>
    <option value="00503">El Salvador    </option>
    <option value="00504">Honduras       </option>
    <option value="00505">Nicaragua      </option>
    <option value="00506">Costa Rica     </option>
    <option value="00507">Panama         </option>
    <option value="00508">San Pedro y Miquelón   </option>
    <option value="00509">Haití  </option>
    <option value="0051 ">Peru   </option>
    <option value="0052 ">Mexico         </option>
    <option value="0053 ">Cuba   </option>
    <option value="0054 ">Argentina      </option>
    <option value="0055 ">Brasil         </option>
    <option value="0056 ">Chile          </option>
    <option value="0057 ">Colombia       </option>
    <option value="0058 ">Venezuela      </option>
    <option value="0059 ">Guadalupe      </option>
    <option value="00591">Bolivia        </option>
    <option value="00592">Guyana         </option>
    <option value="00593">Ecuador        </option>
    <option value="00594">Guayana Francesa       </option>
    <option value="00595">Paraguay       </option>
    <option value="00596">Martinica      </option>
    <option value="00597">Surinam        </option>
    <option value="00598">Uruguay        </option>
    <option value="00599">Antillas Neerlandesas  </option>
  </optgroup>
  <optgroup label="Oceania">
    <option value="0061 ">Australia      </option>
    <option value="00673">Brunei         </option>
    <option value="0063 ">Filipinas      </option>
    <option value="00679">Fiyi   </option>
    <option value="0062 ">Indonesia      </option>
    <option value="00682">Islas Cook     </option>
    <option value="00692">Islas Marshall         </option>
    <option value="00677">Islas Salomon  </option>
    <option value="00686">Kiribati       </option>
    <option value="006  ">Malasia        </option>
    <option value="00691">Micronesia     </option>
    <option value="00674">Nauru  </option>
    <option value="00683">Niue   </option>
    <option value="00687">Nueva Caledonia        </option>
    <option value="0064 ">Nueva Zelanda  </option>
    <option value="0068 ">Palaos         </option>
    <option value="00675">Nueva Guinea   </option>
    <option value="00689">Polinesia Francesa     </option>
    <option value="00685">Samoa  </option>
    <option value="00684">Samoa Americana        </option>
    <option value="0065 ">Singapur       </option>
    <option value="0066 ">Tailandia      </option>
    <option value="0067 ">Timor Oriental         </option>
    <option value="0069 ">Tokelau        </option>
    <option value="00676">Tonga  </option>
    <option value="00688">Tuvalu         </option>
    <option value="00678">Vanuatu        </option>
    <option value="00681">Wallis y Futuna        </option>
  </optgroup>
  <optgroup label="Oriente Medio">
    <option value="0093 ">Afganistán     </option>
    <option value="00966">Arabia Saudita         </option>
    <option value="00994">Azerbaiyán     </option>
    <option value="00973">Bahréin        </option>
    <option value="0095 ">Birmania       </option>
    <option value="00975">Bután  </option>
    <option value="00971">Emiratos Árabes Unidos         </option>
    <option value="00995">Georgia        </option>
    <option value="0091 ">India  </option>
    <option value="0098 ">Irán   </option>
    <option value="00964">Iraq   </option>
    <option value="00972">Israel         </option>
    <option value="00962">Jordania       </option>
    <option value="00996">Kirguistán     </option>
    <option value="00965">Kuwait         </option>
    <option value="00961">Líbano         </option>
    <option value="0096 ">Maldivas       </option>
    <option value="00976">Mongolia       </option>
    <option value="00977">Nepal  </option>
    <option value="00968">Omán   </option>
    <option value="0092 ">Pakistán       </option>
    <option value="00974">Qatar  </option>
    <option value="00963">Siria  </option>
    <option value="0094 ">Sri Lanka      </option>
    <option value="00992">Tayikistán     </option>
    <option value="0097 ">Territorios palestinos         </option>
    <option value="00993">Turkmenistán   </option>
    <option value="009  ">Turquía        </option>
    <option value="00998">Uzbekistán     </option>
    <option value="00967">Yemen  </option>
  </optgroup>
</select>
