<% @page_title = t(:propose_campaign) %>

<div class="container-fluid">

<div class="row-fluid">
  
  <%= render :partial => 'partials/diferencial' %>
  <%= render :partial => 'partials/logo' %>

<div class="span9">

<div id="campaigns-wrapper">
  <div id="create-campaigns">
    <div id="create-campaign-form" class="form-stacked">
      <h2><%= @page_title %></h2>
      <%= render 'form' %>
    </div><!-- create-campaign-form -->
  </div><!-- create-campaigns -->
</div><!-- campaigns-wrapper -->

<script type="text/javascript">
  (function() {
    var converter1 = Markdown.getSanitizingConverter();
    var editor1 = new Markdown.Editor(converter1);
    editor1.run();
    
    var converter2 = Markdown.getSanitizingConverter();
    var editor2 = new Markdown.Editor(converter2, "-second");
    editor2.run();
  })();
</script>

</div>

</div>

</div>
