<% @page_title = t(:propose_campaign) %>


<div class="row-fluid">
<%= render :partial => 'partials/diferencial' %>
  <%= render :partial => 'partials/logo' %>
  
<div class="span12">
  <div id="page-wrapper">
      <div id="create-campaign-form" class="form-stacked">
        <h2><%= @page_title %></h2>
        <%= render 'form' %>
      </div><!-- create-campaign-form -->
    </div><!-- create-campaigns -->
  </div><!-- campaigns-wrapper -->
</div><!-- span12 -->
