<% @page_title = "Gracias" %>

<div id="page-wrapper">
  <div id="page">
    <div id="page-info">
      <h2><%= @page_title %></h2>
      <p class="thanks-message">Gracias por unirte a esta campaña a través de oiga.me. Recibirás un correo electrónico con el último paso a realizar para unirte a la campaña.</p>
      <br />
      <p><%= link_to t(:back), @campaign, :class => "btn primary" %>
      <br /><br />

      <%= render :partial => "stats_chart" %>

    </div><!-- page-info -->
    <div id="page-sidebar">
      <div id="show-campaign-sidebar">
      </div><!-- show-campaign-sidebar -->
    </div><!-- page-sidebar -->
  </div><!-- page -->
</div><!-- page-wrapper -->

<!-- preguntar a anders que hace esto aquí -->
<%= render :partial => "modal_widget_form" %>
