@import "960"

$main-color: #bf0411
$secondary-color: $main-color

$border-main-color: #d2d2d2
$border-shadow: #b1b1b1

a
  color: $main-color
  text-decoration: none

a:hover
  color: $main-color
  text-decoration: underline

.main-color
  color: $main-color

body
  color: #000

#search-form
  margin: 6px 0 0
  opacity: 1
  
  span.glass
    cursor: pointer
    display: block
    padding: 7px 8px 5px
    position: absolute
    right: 0

  span.glass i
    background-image: image-url("sprite-icons.png")
    background-position: -224px -96px
    display: block
    font-size: 0
    height: 14px
    width: 14px

#sessions
  a
    color: #fff
    font-size: 1.1em

#navbar li, #search-form input[type=text]
  font-size: 1.1em

#frontpage
  @extend .container_24
  margin-top: 42px

  p
    font-size: 1.1em

  #front-page-left, #front-page-right

  #front-page-left
    @extend .grid_12
    @extend .alpha
    @extend .suffix_1

    .frontpage-campaign-info
      margin-left: 0px

    .frontpage-campaign-info li
      display: inline
      margin-right: 20px
  
  #front-page-right
    @extend .grid_11
    @extend .omega
    margin-top: 20px

.campaign-title
  line-height: 20px
  color: $main-color


#sessions ul.login-form
  margin-top: -2px
  padding: 20px
  background-color: #222
  min-width: 260px !important

#sessions ul.login-form form
  margin-left: 0px


ul.login-form label, ul.login-form p
  text-align: left
  color: #fff
  font-size: .9em

#flash-messages
  margin-bottom: 20px

#footer
  @extend .container_24
  border-top: 1px solid $border-main-color
  margin-top: 20px
  padding-top: 10px

