//@import "960"
//@import "bootstrap"
//@import "bootstrap-responsive.min"
//@import "wisiwisi-editor"
//@import "highlight.zenburn"
//@import "jquery.dialog2"
//@import "jquery.jqplot"
//@import "jquery.jgrowl"
//@import "jquery.datePicker"
//@import "jquery.ui.all"
//@import "multi-select"
@import "font-awesome"
@import "prettify"
@import "iosslider"

@import url("style_common.css")

//@import url("style10.css")

@font-face
  font-family: Roboto
  src: url('Roboto/Roboto-Light.ttf')


/* Color v
\:root
  var-naranja: #EB5E40

$blanco: #f0f0f0
$gris: #d7d7d7
$verde: #2d8a8a
$verdoso: #1b5353
$rojo: #bf2633
$morao: #50505a
$marron: #d9cead
$sombrablanca: 1px 0px 0px rgba(255, 255, 255, 0.95)
$sombranegra: 1px 0px 2px rgba(0, 0, 0, 0.75)

body
  background: url("bk.jpg")
  font-family: Roboto, Helvetica, arial, sans-serif
  margin: 0px
  padding: 0px

h1, h2, h3
  margin: 0px
  padding: 0px

.c
  width: 80%
  margin: 25px auto

a
  text-decoration: none

/* heaz

.heaz
  width: 100%
  color: white
  background-color: transparent
  background: url("retro_intro.png")
  border-bottom: 2px dotted white
  padding: 5px 0px

.logo
  width: 200px
  float: left

a img
  border: 0px

hr
  border: 0
  height: 1px
  background-image: -webkit-linear-gradient(left, transparent, rgba(139, 139, 139, 0.68), transparent)
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))

.menuh
  width: 58%
  float: right

.supermenu
  float: right
  font-size: 11px
  ul li
    display: inline
    a
      color: #f0f0f0
      text-decoration: none
      padding: 3px

.menuh ul li
  display: inline
  a
    color: #f0f0f0
    text-decoration: none
    padding: 7px

select
  padding: 3px
  margin: 0
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  -webkit-box-shadow: 0 3px 0 #cccccc, 0 -1px white inset
  -moz-box-shadow: 0 3px 0 #cccccc, 0 -1px white inset
  box-shadow: 0 3px 0 #cccccc, 0 -1px white inset
  background: #F8F8F8
  color: #888
  border: none
  outline: none
  display: inline-block
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  cursor: pointer

.sombra
  margin: 0px
  padding: 0px
  margin-top: 0px
  position: relative
  z-index: 2
  height: 40px
  float: right

.sombracarta
  margin: 0px
  padding: 0px
  margin-top: 0px
  position: relative
  z-index: 2
  height: 40px
  float: left
  width: 65%

/* hidden

.cthreecolumns, .ctopfooter, .welcome, .cheaz
  overflow: hidden

.paper
  background: #f0f0f0 url('bck.png')

/* photo video

ul.photo
  overflow: hidden
  list-style-type: none
  margin: 0px
  padding: 0px
  li
    width: 33%
    float: left
    position: relative
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border-radius: 4px

.contenedorcampaign
  width: 56%
  float: left
  margin-left: 10%

.text
  width: 33%
  float: right

.contenedorcampaign img
  width: 100%
  height: 300px

.img-wrap
  height: 300px
  overflow: hidden
  position: relative
  width: 100%

.img-overlay
  background: transparent url('transparencia.png')
  bottom: 0
  color: white
  position: absolute
  width: 50%
  z-index: 1000
  height: 100%
  right: 0
  h4
    padding: 0 10px
  p
    padding: 0 10px
    padding: 15px
    text-align: justify
  h4
    font-size: 30px
    text-shadow: 0 -1px 1px black
    color: #F0F1F1
    margin-top: 10px
    margin-bottom: 5px

#avatar
  img
    width: 15px
    border: 0px
    float: right
    padding: 2px
    vertical-align: middle
  h4
    color: #1b5353
    font-size: 12px

.creada
  width: 15px
  border: 0px
  vertical-align: middle

#derecha
  float: right

.carousel-caption
  bottom: 20px
  background: url("bck2.png")
  border-top: 1px solid $morao
  border-bottom: 1px solid $morao
  box-shadow: 1px 1px 10px $morao
  position: absolute
  width: 100%
  padding-top: 4px
  h4
    color: #EB5E40
    float: left
    font-size: 12px
    text-align: left
    padding-left: 8px
    text-align: justify
    margin-bottom: 0px
    margin-top: 0px

input
  &.firma
    color: white
    font-size: 16px
    background: #1b5353
    border: 0px
    padding: 1px 1px
    /* fuck ie
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
    /* fin
    background: -webkit-gradient(#1b5353, #2d8a8a)
    background: -webkit-linear-gradient(#1b5353, #2d8a8a)
    background: -moz-linear-gradient(#1b5353, #2d8a8a)
    background: -o-linear-gradient(#1b5353, #2d8a8a)
    background: linear-gradient(#1b5353, #2d8a8a)
    background: #1b5353 9
    text-shadow: 0 1px #455D1E
    width: 33%
    margin-left: 33%
    box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.95)
    &:hover
      cursor: pointer
      text-decoration: underline
  &.grande
    width: 80%
    margin-left: 10%
    margin-right: 10%
    height: 45px
    font-size: 17px
    text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.95)
    border-radius: 4px
    border: 1px solid #184B43
    cursor: pointer
    margin-top: 15px
    font-family: Roboto, Helvetica, arial, sans-serif
    letter-spacing: 2px
    width: 82%
    margin-left: 10%
    margin-right: 10%
    height: 45px
    font-size: 24px
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.55)
    letter-spacing: 2px
    -webkit-box-shadow: 1px -1px 10px 1px rgba(0, 0, 0, 0.2)
    box-shadow: 1px -1px 10px 1px rgba(0, 0, 0, 0.2)
    &:hover
      text-decoration: none

  \::-webkit-input-placeholder, ::-moz-placeholder, input:-moz-placeholder
  color: #1B5353
  font-family: Roboto, Helvetica, arial, sans-serif

/* firefox 19+

.checkfb
  margin-left: 9%
  margin-top: 4%
  margin-bottom: 13px

.view
  .mask, .content
    position: absolute
    overflow: hidden
    top: 4px
    left: 0
    padding-top: 4px
  h2
    font-size: 12px
    margin-top: 2px
  p
    padding: 2px

.view-tenth:hover img
  -webkit-transform: scale(1)
  -moz-transform: scale(1)
  -o-transform: scale(1)
  -ms-transform: scale(1)
  transform: scale(1)
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"
  filter: alpha(opacity = 0)
  opacity: 0

ul.photo li
  .mask
    display: none
  img
    width: 100%
  a
    text-decoration: none
    color: #1b5353
    font-size: 12px
  .legacy
    a
      top: 0px
      opacity: 0
      width: 100%
      text-align: center
      padding: 25% 0px
      height: 100%
      background: transparent url('orange.png')
      color: white
      text-decoration: none
      font-weight: bold

/* welcome

.welcome
  margin: 10px auto

.welinfo
  span.circle
    width: 35px
    float: left
    padding: 10px
    margin: 0px 18px 0px 0px
    text-align: center
    display: block
    background: #eb5e40
    -webkit-border-radius: 100%
    -moz-border-radius: 100%
    border-radius: 100%
  a
    color: #EB5E40
    &:hover
      text-decoration: none

span
  &.circle i
    width: 30px
    color: white
  &.circle2 i
    float: left
    padding-right: 3px
    display: inline
    color: #EB5E40
    font-size: 18px
    vertical-align: middle

.quoted
  width: 86%
  margin: 0px 0px
  text-align: center
  float: right
  h3
    text-shadow: 1px 1px 0px white
    font-size: 19px
    margin: 10px 0px
    color: #222
  p
    font-size: 13px
    padding: 8px 0px
    margin: 0px 0px 10px 0px
    color: #666
    text-align: justify
    line-height: 17px
  a
    text-decoration: none
    display: inline
    font-size: 18px
    color: #1B5353
  img
    vertical-align: text-bottom
  li
    list-style-type: none
    color: #1B5353
  i
    color: #eb5e40
    font-size: 35px
    float: left
    vertical-align: middle
    margin-top: -10px
  h6
    font-size: 17px
    display: inline
    margin: 0px
    vertical-align: middle

.threecolumns
  width: 25%
  margin: 20px 0px
  text-align: center
  float: left
  text-align: justify
  h3
    text-shadow: 1px 1px 0px white
    font-size: 18px
    margin: 10px 0px
    color: #222
  p
    font-size: 12px
    padding: 0px 25px
    margin: 0px 0px 10px 0px
    color: #666
  a
    text-decoration: none
    display: inline
    font-size: 15px
    color: #1B5353
  li
    list-style-type: none
  i
    color: #eb5e40
    font-size: 50px

.welinfo
  width: 50%
  float: left
  color: #8C8C91
  font-size: 0.8em
  font-size: 18px
  margin-top: 10px
  ul li
    font-size: 12px
    list-style-type: none

#progressbar
  width: 35%
  float: left
  color: #8C8C91
  font-size: 0.8em
  padding-top: 16px
  ul li
    font-size: 12px
    list-style-type: none

#explain
  width: 35%
  float: left
  color: #8C8C91
  font-size: 14px
  margin-top: 5px
  ul
    padding-left: 0px
    margin-top: 8px
    li
      list-style-type: none
      strong
        font-size: 11px
        padding-right: 3px
        line-height: 19px
      a
        color: #EB5E40
        font-size: 12px
  h3
    font-size: 18px
    padding-top: 11px
    color: #828383

/* R E D E S

#redes
  width: 74%
  margin-left: 9%
  margin-top: 4px
  margin-bottom: 4px
  ul li
    font-size: 12px
    list-style-type: none

.ZRa
  float: left
  white-space: nowrap

.Bg
  background: no-repeat url('sprite4-a67f741843ffc4220554c34bd01bb0bb.png') 0 -720px

.Qo
  width: 32px
  height: 20px

.hAa
  cursor: pointer
  display: block
  outline: 0
  position: relative
  text-decoration: none

.twitter-hashtag-button
  margin-left: 5%
  color: #EB5E40
  font-size: 12px

#participants
  width: 70%
  float: left
  margin-top: 12px
  margin-bottom: 10px

input.btn
  color: white
  font-size: 16px
  background: #EB5E40
  border: 0px
  padding: 10px 30px
  /* fuck ie
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  /* fin
  background: -webkit-gradient(#f0836c, #fa421b)
  background: -webkit-linear-gradient(#f0836c, #fa421b)
  background: -moz-linear-gradient(#f0836c, #fa421b)
  background: -o-linear-gradient(#f0836c, #fa421b)
  background: linear-gradient(#f0836c, #fa421b)
  background: #f0836c	9
  text-shadow: 0 1px #455D1E
  &:hover
    cursor: pointer
    text-decoration: underline

/* P R O G R E S S B A R

/* Firefox - value portion of progress bar

progress#bar
  &::-moz-progress-bar
    background-image: url('../img/brushed_alu.png')
    background-color: #EB5E40
    -moz-box-shadow: 1px 1px 1px #333333
  &::-webkit-progress-value
    background-image: url('../img/brushed_alu.png')
    background-color: #EB5E40
    -webkit-box-shadow: 1px 1px 1px #333333
  background-color: rgba(240, 240, 240, 0.16)
  border: solid gray 1px
  border-radius: 1px
  -moz-box-shadow: 3px 3px 3px #C0C0C0
  -webkit-box-shadow: 3px 3px 3px silver
  box-shadow: 3px 3px 3px silver
  padding: 4px
  width: 100%
  height: 31px

/* Chrome, Safari - value portion of progress bar

/* All other attributes

#recogidas
  padding-top: 14px
  font-size: 2em
  font-family: Roboto, Helvetica, arial, sans-serif
  line-height: 1em
  color: #1F7E7E
  font-weight: bold
  font-size: 35px
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.79)
  padding-bottom: 12px

#necesarias
  font-size: 1.4em
  text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.75)
  display: inline
  vertical-align: middle

.underlined
  font-size: 20px
  font-family: Roboto, Helvetica, arial, sans-serif
  line-height: 1em
  color: #EB5E40
  font-weight: bold
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.7)
  padding: 2px

/* entra

.entra
  overflow: hidden
  margin: 45px auto !important

.smsentra, .buttonentra
  font-family: 'Montserrat', sans-serif

p
  &.min
    font-size: 16px
    color: #999
    letter-spacing: 0px
    font-weight: normal
    margin: 5px 0px
  &.max
    font-size: 21px
    color: #999
    letter-spacing: 0px
    font-weight: normal
    margin: 5px 0px
    padding: 12px
    background-color: #DADADA
    text-align: justify
    text-shadow: 1px 1xpx 1px #f0f0f0

.smsentra
  width: 75%
  color: #222
  font-weight: bold
  font-size: 23px
  float: left
  letter-spacing: 1px

.buttonentra
  text-align: right
  float: left
  padding-left: 10px
  a
    background: #EB5E40
    padding: 20px 40px
    font-size: 12px
    color: white
    text-decoration: none
    -webkit-border-radius: 20px
    -moz-border-radius: 20px
    border-radius: 20px
  i
    vertical-align: middle

/* jcarrousel

.carro
  width: 100%
  overflow: hidden

.carrousel
  margin: 5px auto

.shadow
  -webkit-box-shadow: 1px -1px 10px 1px rgba(0, 0, 0, 0.2)
  box-shadow: 1px -1px 10px 1px rgba(0, 0, 0, 0.2)

ul.jcarorusel
  width: 70%
  float: left
  margin: 0px
  padding: 0px
  list-style-type: none
  overflow: hidden
  li
    position: relative
    .moreinfo
      width: 65%
      position: absolute
      bottom: 22px
      left: 22px
      padding: 10px
      background: white
      /* fuck ie
      -webkit-border-radius: 4px
      -moz-border-radius: 4px
      border-radius: 4px

.iosSlider
  width: 69%
  float: left
  margin: 0px
  padding: 0px
  list-style-type: none
  overflow: hidden

h2.jcorru
  line-height: 17px

p.persons
  color: #999
  margin: 0px 0px 15px 0px
  padding: 0px
  font-size: 11px

h2.jcorru a
  font-size: 15px
  color: #eb5e40
  text-decoration: none
  &:hover
    text-decoration: underline

.per
  width: 100%
  height: 20px
  background: #ccc

ul.jcarorusel li img
  width: 100%

.sidecarro
  width: 30%
  float: right
  background: #444
  height: 300px
  background: url('iphone.png')
  background-repeat: no-repeat
  background-position: center bottom
  background-size: 95%

.sidefirma
  width: 30%
  float: right
  background: #444
  height: 300px
  background: #f0f0f0
  background-repeat: no-repeat
  background-position: center bottom
  background-size: 95%
  width: 30%
  float: left
  background: #444
  height: 300px
  background: #f0f0f0 url('../img/az_subtle.png')
  text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.95)
  form div.textfield input
    display: block
    padding: 0px
    margin: 0px
    margin-top: 10px
    height: 26px
    width: 80%
    margin-left: 10%
    margin-right: 10%
    font-family: Times, serif
    font-size: 13px
    color: #667D8B
    text-align: left
    background-color: rgba(255, 255, 255, 0.55)
    font-family: Roboto, Helvetica, arial, sans-serif
    border: none
    z-index: 30
    position: relative
    top: 0px
    border-radius: 2px
    border: 1px dotted #1B5353
    padding-left: 3px

span
  &.checkbox
    display: inline
    margin-left: 10%
  &.checkfblabel
    font-size: 12px
    color: #757575
    letter-spacing: 0px
    font-weight: normal
    margin: 5px 0px
    display: inline

div.normas
  font-size: 11px
  color: #757575
  letter-spacing: 0px
  font-weight: normal
  display: inline
  margin-left: 9%
  text-align: justify
  a
    color: #1b5353

.comentarea
  width: 80%
  margin-left: 10%
  margin-right: 10%
  margin-top: 10px
  border-radius: 2px
  height: 50px
  border: 1px dotted #1b5353
  color: #667D8B
  background-color: rgba(255, 255, 255, 0.55)

.sidecarro i
  display: block
  padding: 4px
  letter-spacing: 1px
  word-spacing: 3px
  font-size: 12px
  z-index: 3
  top: 140px
  left: 36px
  color: #F0F0F0
  position: relative

#campaign-info
  width: 65%
  float: left
  padding: 2%
  padding-right: 3%
  padding-left: 15px
  text-align: justify
  border: 1px dashed #CCC
  text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.95)
  line-height: 21px
  -webkit-border-radius: 0px 0px 0px 6px
  border-radius: 0px 0px 0px 6px
  font-size: 1em
  background: #f0f0f0 url('../img/cream_dust.png')
  p
    text-align: justify
    line-height: 21px

#realtime
  text-align: justify
  line-height: 21px
  width: 30%
  float: right
  li
    label
      text-decoration: none
      display: inline
      font-size: 11px
      color: #1b5353
      padding-left: 4px
    a label
      text-decoration: none
      display: inline
      font-size: 15px
      color: #1b5353
      text-decoration: none
    list-style-type: none
    padding-top: 3%
    padding-bottom: 3%
  img
    vertical-align: middle
    display: inline

/*T a b s

#tabs4
  font-size: 1em
  line-height: normal
  margin-left: 6.8%
  height: 5px
  width: 100%
  ul
    margin: 0
    list-style: none
    width: 100%
  li
    width: 10%
    display: inline
    margin: 0
    padding: 0
  a
    float: left
    background: url("../img/tabright4.gif") no-repeat left top
    margin: 0
    padding: 0 0 0 7px
    text-decoration: none
    border: 1px solid #DDD
    -webkit-border-top-left-radius: 6px
    -webkit-border-top-right-radius: 6px
    -moz-border-radius-topleft: 6px
    -moz-border-radius-topright: 6px
    border-top-left-radius: 6px
    border-top-right-radius: 6px
    span
      float: left
      display: block
      background: url("../img/tabright4.gif") no-repeat right top
      padding: 5px 15px 4px 6px
      color: #1b5353
      float: none
    &:hover
      span
        color: #EB5E40
        background-position: 100% -42px
      background-position: 0% -42px

/* Commented Backslash Hack hides rule from IE5-Mac \

/* End IE5-Mac hack

.topcontent
  width: 100%

.clearfix mts mlm uiMorePager stat_elem fbFeedbackPager .bar-chart
  width: 40em
  height: 24em
  padding-top: 1em
  position: relative
  text-align: left

.bar-chart p em
  position: absolute
  bottom: -1em
  left: 0
  line-height: 2em
  width: 40em
  display: block
  text-align: center
  border-top: 1px solid #444
  &:first-child
    top: 0
    left: 0
    width: 24em
    height: 1em
    -moz-transform: rotate(90deg)
    -webkit-transform: rotate(90deg)
    -o-transform: rotate(90deg)
    transform: rotate(90deg)
    -ms-transform: rotate(90deg)
    -moz-transform-origin: 0 0
    -webkit-transform-origin: 0 0
    -o-transform-origin: 0 0
    transform-origin: 0 0

.ie9 .bar-chart p em:first-child
  left: -1.5em
  height: 1.5em

.bar-chart dl
  display: block
  margin: 0 0 0.25em 0
  height: 2em
  line-height: 2em
  white-space: nowrap
  position: relative
  dt
    display: block
    margin: 0
  dd
    display: block
    margin: 0
    position: absolute
    left: 0
    top: 0
    color: #fff
    text-align: right
    padding-right: 0.5em
  &.ratio-10
    dt
      margin-left: 41em
    dd
      width: 40em
      background: #000
  &.ratio-9
    dt
      margin-left: 37em
    dd
      width: 36em
      background: rgba(0, 0, 0, 0.9)
  &.ratio-8
    dt
      margin-left: 33em
    dd
      width: 32em
      background: rgba(0, 0, 0, 0.8)
  &.ratio-7
    dt
      margin-left: 29em
    dd
      width: 28em
      background: rgba(0, 0, 0, 0.7)
  &.ratio-6
    dt
      margin-left: 25em
    dd
      width: 24em
      background: rgba(0, 0, 0, 0.6)
  &.ratio-5
    dt
      margin-left: 21em
    dd
      width: 20em
      background: rgba(0, 0, 0, 0.5)
  &.ratio-4
    dt
      margin-left: 17em
    dd
      width: 16em
      background: rgba(0, 0, 0, 0.4)
  &.ratio-3
    dt
      margin-left: 13em
    dd
      width: 12em
      background: rgba(0, 0, 0, 0.3)
  &.ratio-2
    dt
      margin-left: 9em
    dd
      width: 8em
      background: rgba(0, 0, 0, 0.2)
  &.ratio-1
    dt
      margin-left: 5em
    dd
      width: 4em
      background: rgba(0, 0, 0, 0.1)
  &.ratio-0
    dt
      margin-left: 2.5em
    dd
      width: 2em
      padding-left: 0.5em

@media print
  .bar-chart dd
    border: 1px solid #000

/* Footer

.topfooter
  width: 100%
  border-top: 1px solid #ccc
  border-bottom: 1px solid #ccc
  background: #f0f0f0 url('bck.png')

#footer
  border-top: 2px dotted #C9C1C0
  background: #f0f0f0 url('semi-footer-img1.png')
  background-position: 0px
  background-size: 220px
  background-repeat: no-repeat
  padding-top: 50px
  height: 84px

#first_footer_a, #first_footer_c
  margin-top: 3%
  width: 33%
  display: inline
  padding-left: 10%

#first_footer_a ul
  width: 33%
  display: inline

#first_footer_b
  margin-top: 3%
  width: 33%
  display: inline
  padding-top: 2%
  padding-left: 6%
  ul
    width: 33%
    display: inline
    li a img
      width: 50px

#footer li
  display: inline
  padding: 4px
  a
    color: #EB5E40
    text-decoration: none
    cursor: pointer

#carta
  width: 80%
  background: #f0f0f0 url('lightpaperfibers.png')
  font-family: Courier, Arial
  width: 65%
  float: left
  padding: 2%
  padding-right: 3%
  padding-left: 15px
  float: left
  margin-top: 2%
  color: #6F6F6F
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05)
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05)

/*------------------------------------*\
 *    $CAROUSEL
 *\*------------------------------------

.carousel
  overflow: hidden
  width: 100%
  position: relative

.panes
  list-style: none
  position: relative
  width: 500%
  /* Number of panes * 100%
  overflow: hidden
  /* This is used solely to clear floats, it does not add functionality.
  -webkit-animation: carousel 30s infinite
  -moz-animation: carousel 30s infinite
  animation: carousel 30s infinite
  > li
    position: relative
    float: left
    width: 20%
    /* 100 / number of panes
    > a
      display: block

.carousel
  img
    display: block
    width: 100%
    max-width: 100%
  h2
    font-size: 1em
    padding: 0.5em
    position: absolute
    right: 10px
    bottom: 10px
    left: 10px
    text-align: right
    color: #fff
    background-color: rgba(0, 0, 0, 0.75)

@-moz-keyframes carousel
  0%, 11%
  left: 0
  12.5%, 23.5%
  left: -100%
  25%, 36%
  left: -200%
  37.5%, 48.5%
  left: -300%
  50%, 61%
  left: -400%
  62.5%, 73.5%
  left: -300%
  75%, 86%
  left: -200%
  87.5%, 98.5%
  left: -100%
  100%
    left: 0


@-webkit-keyframes carousel
  0%, 11%
  left: 0
  12.5%, 23.5%
  left: -100%
  25%, 36%
  left: -200%
  37.5%, 48.5%
  left: -300%
  50%, 61%
  left: -400%
  62.5%, 73.5%
  left: -300%
  75%, 86%
  left: -200%
  87.5%, 98.5%
  left: -100%
  100%
    left: 0


@keyframes carousel
  0%, 11%
  left: 0
  12.5%, 23.5%
  left: -100%
  25%, 36%
  left: -200%
  37.5%, 48.5%
  left: -300%
  50%, 61%
  left: -400%
  62.5%, 73.5%
  left: -300%
  75%, 86%
  left: -200%
  87.5%, 98.5%
  left: -100%
  100%
    left: 0


/* responsive

@media only screen and (max-width: 400px)
  .c
    width: 94%
  .threecolumns, .welinfo, .smsentra, .buttonentra, .menuh, .logo, .sidecarro, ul.jcarorusel
    float: none
  .welinfo, .threecolumns, .smsentra, .buttonentra, ul.jcarorusel
    width: 100%
    margin: 20px 0px
    font-size: 15px
  .buttonentra, .smsentra
    text-align: center
  ul.photo li
    width: 100%
    float: none
    &:nth-last-child(-n+3)
      display: none
  .sidecarro
    display: none
  #footer
    background: #f0f0f0
    padding-top: 10px
  #first_footer_a
    padding-left: 0px
    display: block
    width: 100%
  #first_footer_b
    display: block
    width: 100%
