//@import "960"
//@import "bootstrap"
//@import "bootstrap-responsive.min"
//@import "wisiwisi-editor"
//@import "highlight.zenburn"
//@import "jquery.dialog2"
//@import "jquery.jqplot"
//@import "jquery.jgrowl"
//@import "jquery.datePicker"
//@import "jquery.ui.all"
//@import "multi-select"
@import "font-awesome"

@import url("style_common.css")

//@import url("style10.css")

@font-face
  font-family: Roboto
  src: url('font/Roboto/Roboto-Light.ttf')


/* Color v
\:root
  var-naranja: #EB5E40

$blanco: #f0f0f0
$gris: #d7d7d7
$verde: #2d8a8a
$verdoso: #1b5353
$rojo: #bf2633
$morao: #50505a
$marron: #d9cead
$sombrablanca: 1px 0px 0px rgba(255, 255, 255, 0.95)
$sombranegra: 1px 0px 2px rgba(0, 0, 0, 0.75)

body
  background: url("bk.jpg")
  font-family: Roboto, Helvetica, arial, sans-serif
  margin: 0px
  padding: 0px

h1, h2, h3
  margin: 0px
  padding: 0px

.c
  width: 80%
  margin: 25px auto

/* heaz

.heaz
  width: 100%
  color: white
  background-color: #222
  padding: 5px 0px

.logo
  width: 200px
  float: left

a img
  border: 0px

.menuh
  width: 58%
  float: right

.supermenu
  float: right
  font-size: 11px
  ul li
    display: inline
    a
      color: #f0f0f0
      text-decoration: none
      padding: 3px

.menuh ul li
  display: inline
  a
    color: #f0f0f0
    text-decoration: none
    padding: 7px

.sombra
  margin: 0px
  padding: 0px
  margin-top: 0px
  position: relative
  z-index: 2
  height: 40px
  float: right

.cheaz
  margin: 12px auto
/* hidden

.cthreecolumns, .ctopfooter, .welcome, .cheaz
  overflow: hidden

/* photo

ul.photo
  overflow: hidden
  list-style-type: none
  padding: 0px
  li
    width: 33%
    float: left
    margin: 5px
    position: relative
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border-radius: 4px

#avatar
  img
    width: 15px
    border: 0px
    float: right
    padding: 2px
    vertical-align: middle
  h4
    color: #1b5353
    font-size: 12px

.creada
  width: 15px
  border: 0px
  vertical-align: middle

#derecha
  float: right

.carousel-caption
  bottom: 20px
  background: url("bck2.png")
  border-top: 1px solid $morao
  border-bottom: 1px solid $morao
  box-shadow: 1px 1px 10px $morao
  position: absolute
  width: 100%
  padding-top: 4px
  h4
    color: #EB5E40
    float: left
    font-size: 12px
    text-align: left
    padding-left: 8px
    text-align: justify
    margin-bottom: 0px
    margin-top: 0px

input
  &.firma
    color: white
    font-size: 16px
    background: #1b5353
    border: 0px
    padding: 1px 1px
    /* fuck ie
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
    /* fin
    background: -webkit-gradient(#1b5353, #2d8a8a)
    background: -webkit-linear-gradient(#1b5353, #2d8a8a)
    background: -moz-linear-gradient(#1b5353, #2d8a8a)
    background: -o-linear-gradient(#1b5353, #2d8a8a)
    background: linear-gradient(#1b5353, #2d8a8a)
    background: #1b5353 9
    text-shadow: 0 1px #455D1E
    width: 33%
    margin-left: 33%
    box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.95)
    &:hover
      cursor: pointer
      text-decoration: underline
  &.grande
    width: 80%
    margin-left: 10%
    margin-right: 10%
    height: 45px
    font-size: 17px
    text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.95)
    border-radius: 4px
    border: 1px solid #666
    cursor: pointer
    margin-top: 20px
    font-family: Roboto, Helvetica, arial, sans-serif
    &:hover
      text-decoration: none

  \::-webkit-input-placeholder, ::-moz-placeholder, input:-moz-placeholder
  color: #1B5353
  font-family: Roboto, Helvetica, arial, sans-serif

/* firefox 19+

.view
  .mask, .content
    position: absolute
    overflow: hidden
    top: 4px
    left: 0
    padding-top: 4px
  h2
    font-size: 12px
    margin-top: 2px
  p
    padding: 2px


ul.photo li
  img
    width: 100%
  a
    top: 0px
    opacity: 0
    width: 100%
    text-align: center
    padding: 25% 0px
    height: 100%
    position: absolute
    display: none
    background: transparent url('orange.png')
    color: white
    text-decoration: none
    font-weight: bold

/* welcome

.welinfo
  span.circle
    width: 35px
    float: left
    padding: 10px
    margin: 0px 18px 0px 0px
    text-align: center
    display: block
    background: #eb5e40
    -webkit-border-radius: 100%
    -moz-border-radius: 100%
    border-radius: 100%
  a
    color: #EB5E40
    &:hover
      text-decoration: none

span
  &.circle i
    width: 30px
    color: white
  &.circle2 i
    width: 15px
    height: 15px
    color: white
    padding: 6px
    float: left
    margin: 0px 18px 0px 0px
    text-align: center
    display: block
    background: #EB5E40
    -webkit-border-radius: 100%
    -moz-border-radius: 100%
    border-radius: 100%
    font-size: 12px

.threecolumns
  width: 25%
  margin: 20px 0px
  text-align: center
  float: left
  h3
    text-shadow: 1px 1px 0px white
    font-size: 18px
    margin: 10px 0px
    color: #222
  p
    font-size: 12px
    padding: 0px 25px
    margin: 0px 0px 10px 0px
    color: #666
  i
    color: #eb5e40
    font-size: 50px

.welinfo
  width: 50%
  float: left
  font-size: 17px
  color: #666

input.btn
  color: white
  font-size: 16px
  background: #EB5E40
  border: 0px
  padding: 10px 30px
  /* fuck ie
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  /* fin
  background: -webkit-gradient(#f0836c, #fa421b)
  background: -webkit-linear-gradient(#f0836c, #fa421b)
  background: -moz-linear-gradient(#f0836c, #fa421b)
  background: -o-linear-gradient(#f0836c, #fa421b)
  background: linear-gradient(#f0836c, #fa421b)
  background: #f0836c	9
  text-shadow: 0 1px #455D1E
  &:hover
    cursor: pointer
    text-decoration: underline

/* entra

.entra
  overflow: hidden
  margin: 45px auto !important

.smsentra, .buttonentra
  font-family: 'Montserrat', sans-serif

p
  &.min
    font-size: 16px
    color: #999
    letter-spacing: 0px
    font-weight: normal
    margin: 5px 0px
  &.max
    font-size: 21px
    color: #999
    letter-spacing: 0px
    font-weight: normal
    margin: 5px 0px
    padding: 12px
    background-color: #DADADA
    text-align: justify
    text-shadow: 1px 1px 1px #f0f0f0

.smsentra
  width: 76%
  color: #222
  font-weight: bold
  font-size: 23px
  float: left
  letter-spacing: 1px

.buttonentra
  text-align: right
  float: left
  padding-left: 10px
  a
    background: #EB5E40
    padding: 20px 40px
    font-size: 12px
    color: white
    text-decoration: none
    -webkit-border-radius: 20px
    -moz-border-radius: 20px
    border-radius: 20px
  i
    vertical-align: middle

/* jcarrousel

.carro
  width: 100%
  overflow: hidden

ul.jcarorusel
  width: 70%
  float: left
  margin: 0px
  padding: 0px
  list-style-type: none
  overflow: hidden
  li
    position: relative
    .moreinfo
      width: 65%
      position: absolute
      bottom: 22px
      left: 22px
      padding: 10px
      background: white
      /* fuck ie
      -webkit-border-radius: 4px
      -moz-border-radius: 4px
      border-radius: 4px

.iosSlider
  width: 70%
  float: left
  margin: 0px
  padding: 0px
  list-style-type: none
  overflow: hidden

h2.jcorru
  line-height: 17px

p.persons
  color: #999
  margin: 0px 0px 15px 0px
  padding: 0px
  font-size: 11px

h2.jcorru a
  font-size: 15px
  color: #eb5e40
  text-decoration: none
  &:hover
    text-decoration: underline

.per
  width: 100%
  height: 20px
  background: #ccc

ul.jcarorusel li img
  width: 100%

.sidecarro
  width: 30%
  float: right
  background: #444
  height: 300px
  background: url('iphone.png')
  background-repeat: no-repeat
  background-position: center bottom
  background-size: 95%

.sidefirma
  width: 30%
  float: right
  background: #444
  height: 300px
  background: #f0f0f0
  background-repeat: no-repeat
  background-position: center bottom
  background-size: 95%
  form div.textfield input
    display: block
    padding: 0px
    margin: 0px
    margin-top: 10px
    height: 30px
    width: 80%
    margin-left: 10%
    margin-right: 10%
    font-family: Times, serif
    font-size: 15px
    color: #667D8B
    text-align: center
    background: #fff
    border: none
    z-index: 30
    position: relative
    top: 0px
    border-radius: 4px
    border: 1px solid #1b5353

span
  &.checkbox
    display: inline
    margin-left: 10%
  &.checkfblabel
    font-size: 13px
    color: #999
    letter-spacing: 0px
    font-weight: normal
    margin: 5px 0px
    display: inline

.comentarea
  width: 80%
  margin-left: 10%
  margin-right: 10%
  margin-top: 10px
  border-radius: 4px
  height: 50px
  border: 1px solid #1b5353
  color: #667D8B

.sidecarro i
  display: block
  padding: 4px
  letter-spacing: 1px
  word-spacing: 3px
  font-size: 12px
  z-index: 3
  top: 111px
  left: 36px
  color: #F0F0F0
  position: relative

.metacampaign ul li
  font-size: 12px
  list-style-type: none

#campaign-info p
  text-align: justify
  line-height: 21px

/* Footer

.topfooter
  width: 100%
  border-top: 1px solid #ccc
  border-bottom: 1px solid #ccc
  background: #f0f0f0 url('bck.png')

#footer
  border-top: 2px dotted #C9C1C0
  background: #f0f0f0 url('semi-footer-img1.png')
  background-position: 0px
  background-size: 220px
  background-repeat: no-repeat
  padding-top: 50px
  height: 84px

#first_footer_a, #first_footer_c
  margin-top: 3%
  width: 33%
  display: inline
  padding-left: 10%

#first_footer_a ul
  width: 33%
  display: inline

#first_footer_b
  margin-top: 3%
  width: 33%
  display: inline
  padding-top: 2%
  padding-left: 6%
  ul
    width: 33%
    display: inline
    li a img
      width: 50px

#footer li
  display: inline
  padding: 4px
  a
    color: #EB5E40
    text-decoration: none
    cursor: pointer

/*------------------------------------*\
 *    $CAROUSEL
 *\*------------------------------------

.carousel
  overflow: hidden
  width: 100%
  position: relative

.panes
  list-style: none
  position: relative
  width: 500%
  /* Number of panes * 100%
  overflow: hidden
  /* This is used solely to clear floats, it does not add functionality.
  -webkit-animation: carousel 30s infinite
  -moz-animation: carousel 30s infinite
  animation: carousel 30s infinite
  > li
    position: relative
    float: left
    width: 20%
    /* 100 / number of panes
    > a
      display: block

.carousel
  img
    display: block
    width: 100%
    max-width: 100%
  h2
    font-size: 1em
    padding: 0.5em
    position: absolute
    right: 10px
    bottom: 10px
    left: 10px
    text-align: right
    color: #fff
    background-color: rgba(0, 0, 0, 0.75)

@-moz-keyframes carousel
  left: 0, 0%, 11%
  12.5%, 23.5%
  left: -100%
  25%, 36%
  left: -200%
  37.5%, 48.5%
  left: -300%
  50%, 61%
  left: -400%
  62.5%, 73.5%
  left: -300%
  75%, 86%
  left: -200%
  87.5%, 98.5%
  left: -100%
  100%
    left: 0


@-webkit-keyframes carousel
  0%, 11%
  left: 0
  12.5%, 23.5%
  left: -100%
  25%, 36%
  left: -200%
  37.5%, 48.5%
  left: -300%
  50%, 61%
  left: -400%
  62.5%, 73.5%
  left: -300%
  75%, 86%
  left: -200%
  87.5%, 98.5%
  left: -100%
  100%
    left: 0


@keyframes carousel
  0%, 11%
  left: 0
  12.5%, 23.5%
  left: -100%
  25%, 36%
  left: -200%
  37.5%, 48.5%
  left: -300%
  50%, 61%
  left: -400%
  62.5%, 73.5%
  left: -300%
  75%, 86%
  left: -200%
  87.5%, 98.5%
  left: -100%
  100%
    left: 0


/* responsive

@media only screen and (max-width: 400px)
  .c
    width: 94%
  .threecolumns, .welinfo, .smsentra, .buttonentra, .menuh, .logo, .sidecarro, ul.jcarorusel
    float: none
  .welinfo, .threecolumns, .smsentra, .buttonentra, ul.jcarorusel
    width: 100%
    margin: 20px 0px
    font-size: 15px
  .buttonentra, .smsentra
    text-align: center
  ul.photo li
    width: 100%
    float: none
    &:nth-last-child(-n+3)
      display: none
  .sidecarro
    display: none
  #footer
    background: #f0f0f0
    padding-top: 10px
  #first_footer_a
    padding-left: 0px
    display: block
    width: 100%
  #first_footer_b
    display: block
    width: 100%

.nav-tabs
  background-color: transparent
  border-bottom-color: #DDD
  border-bottom-style: solid
  border-bottom-width: 1px
  color: #333
  display: block
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size: 13px
  height: 35px
  line-height: 18px
  list-style-image: none
  list-style-position: outside
  list-style-type: none
  margin-bottom: 18px
  margin-left: 0px
  margin-right: 0px
  margin-top: 0px
  padding-bottom: 0px
  padding-left: 0px
  padding-right: 0px
  padding-top: 0px
  width: 550px
