@import "960"

$main-color: #be0411
$border-main-color: #d2d2d2

html
  background-color: #000

a, a:hover
  color: $main-color

::-webkit-validation-bubble-message
  color: #000
  background: #fff
  border-color: #000
  -webkit-box-shadow: 0 0 0 0

#header
  @extend .container_24
  margin-top: 10px

  #logo
    @extend .grid_6
    @extend .alpha
    margin-top: 10px
  
  #navbar
    @extend .grid_18
    @extend .omega
    margin-top: 44px
    text-align: right
    li
      display: inline
      margin-right: 10px
      font-size: 1.4em
      a
        color: #fff

#subscribe-wrapper
  background-color: #fff
  background: image_url("subscribe-wrapper-bg.gif") repeat scroll left top black
  height: 366px
  padding: 10px

  #subscribe
    @extend .container_24

    #subscribe-img, #subscribe-form
      @extend .grid_12

    #subscribe-img
      @extend .alpha

    #subscribe-form
      @extend .omega
      margin-left: 15px
      .msg
        margin-top: 15px
        font-size: 4em
        font-weight: bold
        line-height: 50px
        color: #f40919
      p.user-count
        color: #fff
        font-size: 3em
        font-weight: bold
        margin-top: 10px
        margin-top: 25px
      p.do-it
        font-size: 3em
        color: #f40919
        font-weight: bold
        margin-top: 20px
      form#pre-signup
        margin-top: -10px
        input[type=email], span.add-on
          padding: 9px 14px

#home-info-wrapper
  background-color: #f1f2f1
  border-bottom: 1px solid $border-main-color

  #home-info
    @extend .container_24
    background-color: #fff
    border: 1px solid #E8E8E8
    margin: 15px auto

    #campaigns-slideshow, #realtime
      @extend .grid_11
      padding: 15px

    #campaigns-slideshow
      @extend .alpha

    #realtime
      @extend .omega

#campaigns-wrapper
  background-color: #f1f2f1
  padding-top: 30px
  padding-bottom: 30px

  #list-campaigns
    @extend .container_24
    background-color: #fff
    border: 1px solid #E8E8E8

    #list-campaigns-info
      @extend .grid_14
      padding: 25px
      border-right: 1px dashed #e8e8e8
      h2
        font-size: 2em
        margin-bottom: 15px

      .campaign-info
        
        .campaign-image
          @extend .grid_5
          @extend .alpha

        .campaign-text
          @extend .grid_9
          @extend .omega
          margin-bottom: 20px
          p
            font-size: 1.1em

#links-wrapper
  background-color: #fff

  #links
    @extend .container_24
    margin-top: 40px
    margin-bottom: 30px

    #links-logo
      @extend .grid_4

    #links-message
      @extend .grid_10
      p
        font-size: 1.3em

    #links-social
      float: right
      text-align: right
      span
        font-size: 1.3em

#footer-wrapper
  margin-bottom: 20px
  background-color: #000

  #footer-main
    @extend .container_24
    a
      color: #fff

    #info-links
      margin-top: 20px
      @extend .grid_12
      @extend .alpha

    #footer-donate
      margin-top: 20px
      text-align: right
      @extend .grid_12
      @extend .omega

