@import "bootstrap"
@import "bootstrap-responsive"

$gris: #d7d7d7
$verde:#2d8a8a
$verdoso:#1b5353
$naranja:#eb5e40
$morao:#50505a
$sombrablanca:1px 0px 0px rgba(255, 255, 255, 0.95)
$sombranegra:1px 0px 2px rgba(0, 0, 0, 0.75)

@font-face 
  font-family: Roboto
  src: url('Roboto/Roboto-Light.ttf')

body
  background: image-url("bk.jpg")
  font-family: Roboto

#header
  background: image-url("bg-header.png")

.people
  padding-top: 8px
  ul
    li
      display:block
      padding-top: 0px
      list-style-type: none
  margin: 0px
  width: 140px

label
  display: inline
  color: $naranja
  font-size: 0.8em
  padding-left: 2px
  text-shadow: $sombrablanca
