
/* R E D E S

#redes
  width: 90%
  margin-top: 4px
  margin-bottom: 4px
  ul
    margin-left: -8px
    width: 120%
    li
      font-size: 12px
      list-style: none outside none
      margin-left: 0
      margin-bottom: 0.5em

.social-button
  color: #FFFFFF
  font-size: 11px
  padding: 0.5em 0.7em
  text-decoration: none
  display: block
  position: relative
  font-weight: normal
  i
    color: #FFF

.social-button:hover
  text-decoration: none
  color: #fff
  opacity: 0.85

.social-button-tw
  background: none repeat scroll 0 0 #359BED

.social-button-fb
  background: none repeat scroll 0 0 #3B5998

.social-button-g
  background: none repeat scroll 0 0 #D44132

.message-thanks .social-button
  font-size: 16px
  padding: 1em 1.4em

.message-thanks ul
  text-align: center
  margin: 1em 0 2em 0 

.social-button-login
  color: white
  font-size: 1em
  i
    margin-right: 0.5em
  a:hover
    background-color: inherit !important
  a
    color: white
    
