<p>Hola <%= @resource.email %>!</p>

<p>Has pedido cambiar tu contraseña, puedes hacerlo con el siguiente enlace:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), :style => "color: #BE0411;" %></p>

